<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-12">
    <h2>Students</h2>
    <ol class="breadcrumb">
      <li>
        <%= link_to 'Home', administrator_root_path %>
      </li>
      <li>
        <%= link_to administrator_sections_path do %>
          Manage Sections
        <% end %>
      </li>
      <li class="active">
        <strong>Admissions</strong>
      </li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content  animated fadeInRight">
  <div class="row">
    <div class="col-sm-12">
      <div class="ibox">
        <div class="ibox-content">
          <%= form_tag new_administrator_admission_path, method: :get do %>
            <%= hidden_field_tag :type, params[:bulk]%>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label style="margin-bottom: 5px;">Class</label>
                  <div class="input-group">
                    <%= select_tag :klass_id, options_for_select(@klasses.collect {|e| [ e.name, e.id ] }), prompt: "Select Class", class: "select2_dropdown selectable_klass", required: true %>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label style="margin-bottom: 5px;">Section</label>
                  <div class="input-group">
                    <%= select_tag :section_id, options_for_select([]), prompt: "Select Section", class: "select2_dropdown selectable_section", disabled:false, required: true %>
                  </div>
                </div>
              </div>
              <div class="col-md-2" style="margin-top: 20px;">
                <center>
                  <button type="submit" class="btn btn-primary">Go <i class="fa fa-forward-arrow"></i></button>
                </center>
              </div>
            </div>
          <% end %>
          <div id="admissions"></div>
        </div>
      </div>
    </div>
  </div>
</div>

