<div class='row wrapper border-bottom white-bg page-heading'>
  <div class='col-lg-9'>
    <h2>
      <%= link_to :back, class: 'btn btn-sm btn-primary btn-outline m-t-n-xs' do %>
        <i class='fa fa-arrow-left'></i>
      <% end %>

      Academic Periods
    </h2>

    <ol class='breadcrumb'>
      <li>
        <%= link_to 'Home', root_path %>
      </li>
      <li class='active'>
        <strong>List</strong>
      </li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div id='left-section' class="col-sm-12">
      <div class="ibox">
        <div class="ibox-content">
          <div class="clients-list">
            <ul class="nav nav-tabs">
              <li class="active"><a data-toggle="tab" href="#tab-1"><i class="fa fa-braille"></i> Academic Periods </a></li>
              <li class=""><a data-toggle="tab" href="#tab-2"><i class="fa fa-plus"></i> Start New Academic Period </a></li>
            </ul>

            <div class="tab-content full-height-scroll">
              <div id="tab-1" class="tab-pane active">
                <%= render partial: 'shared/search_box', locals: {path: administrator_terms_path} %>
                <div class="ibox"></div>
                <div class='row m-b-lg'>
                  <div class="col-md-2 col-md-offset-3">
                    <div class="widget style1 yellow-border">
                      <div class="row">
                        <div class="col-xs-12">
                          <h3 class="font-bold text-center">Initialized</h3>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="widget style1 lazur-border">
                      <div class="row">
                        <div class="col-xs-12">
                          <h3 class="font-bold text-center">Active</h3>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="widget style1 navy-border">
                      <div class="row">
                        <div class="col-xs-12">
                          <h3 class="font-bold text-center">Complete</h3>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <% @terms.each do |term| %>
                    <div class="col-lg-3">
                      <div class="contact-box <%= term_class(term) %>">
                        <div class="text-center">
                          <div class="m-t-xs font-bold"><%= term.name %></div>
                          <div class="m-t-xs"><%= term.display_term_duration %></div>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                      <div class="m-t-xs text-center">
                        <%= link_to [:administrator, term], class: "btn btn-outline btn-success dim btn-xs", data: { toggle: 'tooltip', placement: 'top' }, title: 'View' do %>
                          <i class="fa fa-eye"></i>
                        <% end %>
                        <%= link_to edit_administrator_term_path(term), class: "btn btn-outline btn-info dim btn-xs", data: { toggle: 'tooltip', placement: 'top' }, title: 'Edit' do %>
                          <i class="fa fa-pencil-square-o"></i>
                        <% end %>
                        <%= link_to administrator_term_path(term), class: "btn btn-outline btn-danger dim btn-xs", data: { toggle: 'tooltip', placement: 'top', behavior: 'delete', object: term.class.name }, title: 'Delete' do %>
                          <i class="fa fa-trash-o"></i>
                        <% end %>

                        <%= link_to "#", class: "term-box-modal btn btn-outline btn-warning dim btn-xs", data: { toggle: 'tooltip', placement: 'top'}, title: 'Switch', "data-term-id" => term.id do %>
                          <i class="fa fa-arrows-alt"></i>
                        <% end %>
                      </div>
                    </div>
                    <%= render 'term_options_modal', term: term %>
                  <% end %>
                </div>
              </div>
              <div id="tab-2" class="tab-pane">
                <div class="full-height-scroll">
                  <%= render 'form', term: @new_term %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :javascript do %>
  animate_contact_box()
  AdministratorTerm.init()
<% end %>

