<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-9">
    <h2>Terms</h2>
    <ol class="breadcrumb">
      <li>
        <%= link_to "Home", root_path %>
      </li>
      <li class="active">
        <strong>Terms</strong>
      </li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content  animated fadeInRight">
  <div class="row">
    <div class="col-sm-12">
      <div class="ibox">
        <div class="ibox-content">
          <span class="text-muted small pull-right">
            last modification: aasdad
          </span>
          <h2>Terms</h2>
          <p>
            All Terms
          </p>
          <div class="clients-list">
            <ul class="nav nav-tabs">
              <span class="pull-right small text-muted">1406 Elements</span>
              <li class="active"><a data-toggle="tab" href="#tab-1"><i class="fa fa-user"></i> Terms </a></li>
              <li class=""><a data-toggle="tab" href="#tab-2"><i class="fa fa-briefcase"></i> Start New Term </a></li>
            </ul>
            <div class="tab-content full-height-scroll">
              <div id="tab-1" class="tab-pane active">
                <%= render partial: 'shared/search_box', locals: {path: administrator_terms_path} %>
                <div class="ibox"></div>
                <div class="row">
                  <% @terms.each do |term| %>
                    <div class="col-lg-4">
                      <div class="contact-box">
                        <%= link_to [:administrator, term] do %>
                          <div class="col-sm-12">
                            <div class="text-center">
                              <div class="m-t-xs font-bold"><%= term.name %></div>
                               <div class="m-t-xs"><%= term.display_term_duration %></div>
                            </div>
                          </div>
                          <div class="clearfix"></div>
                        <% end %>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
              <div id="tab-2" class="tab-pane">
                <div class="full-height-scroll">
                  <%= render 'form', term: @new_term %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :javascript do %>
  animate_contact_box()
<% end %>

