<div id='attendance-wrapper'>
  <div class='wrapper wrapper-content animated fadeInRight'>
    <div class='row'>
      <div class='col-sm-12'>
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>Attendance Sheet</h5>

            <h5>
              <span class='label label-primary'><%= @section.klass.name %></span>
              <span class='label label-info'><%= @section.name %></span>
            </h5>

            <div class="ibox-tools">
              <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
              </a>
            </div>
          </div>

          <div class="ibox-content">
            <div class='row'>
              <div class='col-sm-12'>
                <%= simple_form_for(@attendance_sheet, url: path) do |f| %>
                  <div class="attendance-list m-t-sm">
                    <table class="table small table-hover">
                      <thead>
                        <tr>
                          <th>Roll Number</th>
                          <th>First Name</th>
                          <th>Last Name</th>
                          <th class='attendance-label'>
                            <span class='label label-primary'>Present</span>
                            <span class='label label-danger'>Absent</span>
                            <span class='label label-warning'>Leave</span>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <%= f.simple_fields_for :attendances do |attendance| %>
                          <tr>
                            <td><%= @students[attendance.object.attendee_id][0] %></td>
                            <td><%= @students[attendance.object.attendee_id][1] %></td>
                            <td><%= @students[attendance.object.attendee_id][2] %></td>
                            <%= attendance.input :attendee_id, as: :hidden, input_html: { value: attendance.object.attendee_id } %>
                            <td>
                              <%= attendance.input :status, collection: Attendance.statuses.keys.to_a, as: :radio_buttons, item_wrapper_class: 'inline i-checks', label: false %>
                            </td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                    <%= submit_tag "Mark Attendance", class: "btn btn-md btn-primary m-t-md pull-right" %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :javascript do %>
  enable_ichecks();
<% end %>
