<div class="col-lg-9 animated fadeInRight sections-container">
  <div class="ibox">
    <div class="ibox-title">
      <h5>All sections of class</h5>
      <strong><%= link_to klass.name, [:administrator, klass], class: 'btn-link m-l-xs ibox-head-link' %></strong>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <% sections.each_with_index do |section, index| %>
        <div class="file-box">
          <div class="file">
            <%= link_to [:administrator, klass, section], class: 'btn-link' do %>
              <span class="corner"></span>
              <div class="icon">
                <i class="fa fa-cube"></i>
              </div>
              <div class="file-name">
                <%= section.name %>
                <br>
                <small><%= format_date(section.created_at) %></small>
                <br>
                <small>Students: <%= section.display_students_count %></small>
                <br>
                <small>Teacher: <%= link_to section.incharge_name, administrator_teacher_path(section.incharge), class: 'btn-link' if section.incharge.present? %></small>

                <div class="m-t-xs text-center">
                  <%= link_to administrator_section_students_path(section), class: "btn btn-outline btn-success dim btn-xs", data: { toggle: 'tooltip', placement: 'top' }, title: 'Manage Students' do %>
                    <i class="fa fa-users"></i>
                  <% end %>
                  <%= link_to administrator_section_timetables_path(section), class: "btn btn-outline btn-info dim btn-xs", data: { toggle: 'tooltip', placement: 'top' }, title: 'Manage Timetable' do %>
                    <i class="fa fa-calendar"></i>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>

      <%= link_to new_administrator_klass_section_path(klass), class: 'file-box add-link-plus text-navy' do %>
        <i class="fa fa-plus"></i>
      <% end %>
    </div>
  </div>
</div>
