<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Manage class sections for Term <%= current_term.name %></h2>
    <ol class="breadcrumb">
      <li>
        <%= link_to "Home", root_path %>
      </li>
      <li>
        <%= link_to "Terms", administrator_terms_path %>
      </li>
      <li class="active">
        <strong>Classes</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">
  </div>
</div>

<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-3">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <div class="file-manager">
          <h5>Class Selection</h5>
          <div class="hr-line-dashed"></div>
          <ul class="folder-list" style="padding: 0">
            <% @klasses.each_with_index do |klass, index| %>
              <li id="klass_link_<%= klass.id %>" class='klass-selection-list <%= "active" if klass.id == @klass.id %>'>
                <%= link_to fetch_administrator_klass_sections_path(klass), remote: true do %>
                  <i class="fa fa-book"></i><%= klass.name %>
                <% end %>
              </li>
            <% end %>
          </ul>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
  <%= render 'sections_display', sections: @sections, klass: @klass %>
</div>
