<div class='wrapper wrapper-content animated fadeInRight'>
  <div class='row m-b-md'>
    <div class='col-sm-12'>
      <%= form_tag(managing_teachers_administrator_attendance_sheets_path, method: :get, class: 'form-inline') do %>
        <div class='row'>
          <div class='col-sm-3'>
            <%= text_field_tag :date, nil, class: 'form-control date-field', required: true %>
          </div>

          <div class='col-sm-3'>
            <%= submit_tag "Manage Attendance", class: "btn btn-md btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class='row'>
    <div class='col-sm-12'>
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Attendance Sheets</h5>
          <div class="ibox-tools">
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
          </div>
        </div>

        <div class="ibox-content">
          <div class="attendance-sheet-list m-t-md">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Date</th>
                  <th class='text-center'><span class='badge badge-primary'>Present</span></th>
                  <th class='text-center'><span class='badge badge-danger'>Absent</span></th>
                  <th class='text-center'><span class='badge badge-warning'>Leave</span></th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <% @attendance_sheets.each_with_index do |sheet, index| %>
                  <tr>
                    <td><%= index.succ %></td>
                    <td><%= render_time(sheet.name, :date_only) %></td>
                    <td class='text-center'><span class='badge badge-primary'><%= sheet.present %></span></td>
                    <td class='text-center'><span class='badge badge-danger'><%= sheet.absent %></span></td>
                    <td class='text-center'><span class='badge badge-warning'><%= sheet.leave %></span></td>
                    <td>
                      <%= link_to managing_teachers_administrator_attendance_sheets_path(date: sheet.name, section_id: sheet.section_id), class: "btn btn-success btn-outline dim btn-xs", data: { toggle: 'tooltip', placement: 'top' }, title: 'View' do %>
                        <i class="fa fa-eye"></i>
                      <% end %>
                      <%= link_to administrator_attendance_sheet_path(sheet), class: "btn btn-danger btn-outline dim btn-xs", data: { toggle: 'tooltip', placement: 'top', behavior: 'delete', object: @guardian.class.name }, title: 'Delete', method: :delete, confirm: 'Are you sure?' do %>
                        <i class="fa fa-trash-o"></i>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :javascript do %>
  AttendanceSheet.init();
<% end %>
