<div class='row wrapper border-bottom white-bg page-heading'>
  <div class='col-lg-9'>
    <h2>
      <%= link_to :back, class: 'btn btn-sm btn-primary btn-outline m-t-n-xs' do %>
        <i class='fa fa-arrow-left'></i>
      <% end %>

      Attendances
    </h2>

    <ol class='breadcrumb'>
      <li>
        <%= link_to 'Home', administrator_root_path %>
      </li>

      <li class='active'>
        <strong>Teachers' Attandance</strong>
      </li>
    </ol>
  </div>
</div>

<div class='wrapper wrapper-content animated fadeInRight'>
  <div class='row m-b-md'>
    <div class='col-sm-12'>
      <%= form_tag(managing_teachers_administrator_attendance_sheets_path, method: :get, remote: true, class: 'form-inline') do %>
        <div class='row'>
          <div class='col-sm-3'>
            <%= text_field_tag :date, nil, class: 'form-control date-field', required: true %>
          </div>

          <div class='col-sm-3'>
            <%= submit_tag "Manage Attendance", class: "btn btn-md btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class='row list-view'>
    <div class='col-sm-12'>
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Attendance Sheets</h5>
          <div class="ibox-tools">
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
          </div>
        </div>

        <div class="ibox-content">
          <div class="tabs-container">
            <ul class="nav nav-tabs">
              <% @attendance_sheets.keys.reverse.each_with_index do |month, index| %>
                <li class="<%= activate_latest_month(@attendance_sheets, index) %>"><a data-toggle="tab" href="#tab-<%= index %>" aria-expanded="true"> <%= month %></a></li>
              <% end %>
            </ul>
            <div class="tab-content">
              <% @attendance_sheets.keys.reverse.each_with_index do |month, index| %>
                <div id="tab-<%= index %>" class="tab-pane <%= activate_latest_month(@attendance_sheets, index) %>">
                  <div class="panel-body">
                    <div class="attendance-sheet-list m-t-md">
                      <table class="table table-hover table-bordered">
                        <thead>
                          <tr>
                            <th>Date</th>
                            <th class='text-center'><span class='badge badge-primary'>Present</span></th>
                            <th class='text-center'><span class='badge badge-danger'>Absent</span></th>
                            <th class='text-center'><span class='badge badge-warning'>Leave</span></th>
                            <th>Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% @attendance_sheets[month].each do |sheet| %>
                            <tr class='attendance-row'>
                              <td><%= render_time(sheet.name, :date_only) %></td>
                              <td class='text-center'><span class='badge badge-primary'><%= sheet.present %></span></td>
                              <td class='text-center'><span class='badge badge-danger'><%= sheet.absent %></span></td>
                              <td class='text-center'><span class='badge badge-warning'><%= sheet.leave %></span></td>
                              <td>
                                <%= link_to managing_teachers_administrator_attendance_sheets_path(date: sheet.name, section_id: sheet.section_id), class: "btn btn-success btn-outline dim btn-xs", remote: true, data: { toggle: 'tooltip', placement: 'top' }, title: 'View' do %>
                                  <i class="fa fa-eye"></i>
                                <% end %>
                                <%= link_to administrator_attendance_sheet_path(sheet), class: "btn btn-danger btn-outline dim btn-xs", remote: true, data: { toggle: 'tooltip', placement: 'top', behavior: 'delete', object: sheet.class.name }, title: 'Delete' do %>
                                  <i class="fa fa-trash-o"></i>
                                <% end %>
                              </td>
                            </tr>
                          <% end %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :javascript do %>
  AttendanceSheet.init();
<% end %>
