<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>Project list</h2>
    <ol class="breadcrumb">
      <li>
        <a href="#">Home</a>
      </li>
      <li class="active">
        <strong>Registered Institutions</strong>
      </li>
    </ol>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="wrapper wrapper-content animated fadeInUp">
      <div class="ibox">
        <div class="ibox-title">
          <h5>All registered institutions</h5>
          <div class="ibox-tools">
            <%= link_to "Register new institution", new_admin_institution_path, class:"btn btn-primary btn-xs" %>
          </div>
        </div>
        <div class="ibox-content">
          <%= render partial: 'shared/search_box', locals: {path: admin_institutions_path} %>
          <div class="project-list">
            <table class="table table-hover">
              <tbody>
                <% @institutions.each do |institution| %>
                  <tr>
                    <td class="project-status">
                      <span class="label <%= get_institution_status_class(institution.status) %>"><%= institution.status %></span>
                    </td>
                    <td class="project-title">
                      <a href="#"><%= institution.name %></a>
                      <br />
                      <small>Created: <%= institution.display_created_at %></small>
                    </td>
                    <td class="project-completion">
                      <strong><%= institution.city %></strong>
                      <br />
                      <small><%= institution.country %></small>
                    </td>
                    <td class="project-people">
                      <span class="label <%= get_institution_sector_class(institution.sector) %>"><%= institution.sector %></span>
                    </td>
                    <td class="project-actions">
                      <%= link_to admin_institution_path(institution), class: "btn btn-white btn-sm" do %>
                        <i class="fa fa-folder"></i> View 
                      <% end %>
                      <%= link_to edit_admin_institution_path(institution), class: "btn btn-white btn-sm" do %>
                        <i class="fa fa-pencil"></i> Edit
                      <% end %>
                      <%= link_to admin_institution_administrators_path(institution), class: "btn btn-white btn-sm" do %>
                        <i class="fa fa-pencil"></i> Administrators
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


