<% notices.each_with_index do |notice, index| %>
  <div class="timeline-item">
    <div class="row">
      <div class="col-xs-3 date">
        <i class="fa fa-bullhorn"></i>
        <%= time_format(notice.updated_at) %>
        <br>
        <small class="text-navy"><%= time_ago_in_words(notice.updated_at) %></small>
        <br>
        <small class="text-warning"><%= notice.notice_type %></small>
      </div>
      <div class="<%= get_col_class(current_user) %> content">
        <p class="m-b-xs"><strong><%= notice.title %></strong></p>
        <p><%= notice.message %></p>
        <p class="small">
          <span class="<%= notice_class_hide(notice.notice_type) %>">
            <span class="fa fa-cubes m-r-xs"></span>
            <label>Class: </label>
            <span class="text-info"><%= notice.klass&.name %></span>
          </span  >

          <span class="text-primary <%= notice_section_hide(notice.notice_type) %>">
            <span class="fa fa-table m-r-xs"></span>
            <label> Section: </label>
            <span class="text-info"><%= notice.section&.name %></span>
          </span>
        </p>
      </div>
      <% if current_user.administrator? %>
        <div class="col-xs-2 content">
          <%= link_to '#', class: 'btn btn-outline btn-success dim btn-xs', data: { toggle: 'modal', target: "#notice-modal-#{notice.id}" } do %>
            <i class="fa fa-eye "></i>
          <% end %>
          <%= link_to edit_administrator_notice_path(notice), class: "btn btn-outline btn-info dim btn-xs", data: { toggle: 'tooltip', placement: 'top' }, title: 'Edit' do %>
            <i class="fa fa-pencil-square-o"></i>
          <% end %>
          <%= link_to administrator_notice_path(notice), class: "btn btn-outline btn-danger dim btn-xs", data: { toggle: 'tooltip', placement: 'top', behavior: 'delete', object: notice.class.name }, title: 'Delete' do %>
            <i class="fa fa-trash-o"></i>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <%= render 'shared/notices/notices_message_modal', notice: notice %>
<% end %>
