<div class='wrapper wrapper-content animated fadeInRight'>
  <div class='row'>
    <div class='col-sm-12'>
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5><%= @klass.name %>-<%= @section.name %> Note for <%= @subject.name %></h5>
          <div class="ibox-tools">
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="fa fa-wrench"></i>
            </a>
            <a class="close-link">
              <i class="fa fa-times"></i>
            </a>
          </div>
        </div>
        <div class="ibox-content">
          <%= form_for(@diary_note, html: {class: "form-vertical", id: "diary_note-form"}) do |f| %>
          <%= render partial: 'teacher/diary_notes/form_content', locals: {f: f} %>
          <%= f.hidden_field :section_id %>
          <%= f.hidden_field :subject_id %>
          <hr/>
          <div class= 'row m-t-lg'>
            <div class='col-md-12'>
              <%= submit_tag "Update", class: "btn btn-success m-l-md pull-right" %>
              <%= link_to 'Back', list_diary_notes_path(section_id: @diary_note.section_id, subject_id: @diary_note.subject_id), class: 'btn btn-info pull-right' %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
