<div class="modal inmodal" id="assignment-modal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-lg">
    <%= form_for(@assignment, html: {class: "form-vertical", id: "assignment-form"}) do |f| %>
      <div class="modal-content animated flipInY">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
          <i class="fa fa-calendar modal-icon"></i>
          <h4 class="modal-title">Assignment</h4>
        </div>
        <div class="modal-body">
          <%= render partial: 'teacher/assignments/form_content', locals: {f: f} %>
        </div>
        <div class="modal-footer">
          <%= f.hidden_field :section_id %>
          <%= f.hidden_field :subject_id %>
          <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
          <%= submit_tag "Publish", class: "btn btn-success" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
