<div class="col-lg-9 animated fadeInRight sections-container">
  <div class="ibox">
    <div class="ibox-title">
      <h5>Your associated <strong>sections and subjects</strong> of class</h5>
      <strong><%= link_to klass.name, '', class: 'btn-link m-l-xs ibox-head-link' %></strong>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-content">
          <div class="clients-list no-scroll no-fixed-height">
            <ul class="nav nav-tabs">
              <% @sections.each_with_index do |section, index| %>
                <li class="<%= get_active_tab_class(index) %>"><a data-toggle="tab" href="#section_<%= index %>"> <i class="fa fa-cube <% if section.incharge_id == current_user.id %> text-success <% end %>"></i><%= section.display_name %></a></li>
              <% end %>
            </ul>
            <div class="tab-content">
              <% @sections.each_with_index do |section, index| %>
                <div id="section_<%= index %>" class="tab-pane <%= get_active_tab_class(index) %>" class="animated fadeInRight">
                  <div class='m-t-sm m-b-md'>
                    <h3>
                      Section In-charge: <%= display_section_incharge(section, current_user) %>

                      <div class='pull-right'>
                        <% if section.incharge_id == current_user.id %>
                          <%= link_to new_student_attendance_path(date: Date.today.strftime('%d %B %Y'), section_id: section.id), class: 'btn btn-warning btn-outline btn-xs' do %>
                            <i class="fa fa-check-square-o"></i> Mark Today's Attendance
                          <% end %>
                        <% end %>

                        <%= link_to section_path(section), class: 'btn btn-info btn-outline btn-xs' do %>
                          <i class="fa fa-list"></i> Students (<%= section.display_students_count %>)
                        <% end %>

                        <%= link_to section_timetables_path(section), class: 'btn btn-primary btn-outline btn-xs' do %>
                          <i class="fa fa-list"></i> Section Timetable
                        <% end %>


                        <%= link_to tabulation_sheet_section_path(section), class: 'btn btn-primary btn-outline btn-xs' do %>
                          <i class="fa fa-bar-chart"></i> Tabulation Sheeet
                        <% end %>
                      </div>
                    </h3>
                  </div>

                  <h3 class='text-center'>Your Subjects</h3>
                  <% @section_subjects[section.id].each_with_index do |section_subject, index| %>
                    <div class="file-box">
                      <div class="file">
                        <%= link_to "#", class: 'btn-link' do %>
                          <span class="corner"></span>
                          <div class="icon border-line">
                            <i class="fa fa-book"></i>
                          </div>
                          <div class="file-name text-center">
                            <%= section_subject.subject.name %>
                            <br>
                            <small>Students: <%= section.display_students_count %></small>
                            <br>

                            <div class="row m-t-xs text-center">
                              <%= button_tag "", type: :button, class: 'btn btn-info btn-outline btn-xs add-assignment-modal', data: {toggle: "modal", target: "#assignment-modal", section: section.id, subject: section_subject.subject_id}{ icon_of('fa fa-plus', ' Add Assignment') } %>
                            </div>
                            <div class="row m-t-xs text-center">
                              <%= link_to(list_assignments_path(section.id, section_subject.subject_id), class: "btn btn-success btn-outline btn-xs"){ "Assignments" } %>
                            </div>
                          </div>
                        <% end %>
                      </div>
                    </div>
                  <% end if @section_subjects[section.id].present?%>
                </div>
              <% end %>
            </div>
          </div>

          <% if sections.blank? %>
            <div class="middle-box text-center animated fadeInDown">
              <div class="error-desc">
                No sections are associated with you!
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
