<div class='wrapper wrapper-content animated fadeInRight'>
  <div class='row'>
    <div class='col-lg-12'>
      <div class='ibox float-e-margins'>
        <div class='ibox-title'>
          <h5>Register Teachers <small> Please fill the details correctly</small></h5>
        </div>

        <div class='clearfix'></div>

        <div class='ibox-content'>
          <%= form_tag bulk_insert_administrator_teachers_path, class: 'form-horizontal', id: 'bulk-form', multipart: true do %>
            <div id='form-fields'>
              <% 5.times do %>
                <div class='whole-form'>
                  <div class='form-group'>
                    <div class='row'>
                      <div class='col-sm-3'>
                        <%= text_field_tag 'teachers[][first_name]', nil, required: true, maxlength: 60, placeholder: 'First Name', class: 'form-control' %>
                      </div>

                      <div class='col-sm-3'>
                        <%= text_field_tag 'teachers[][last_name]', nil, required: true, maxlength: 60, placeholder: 'Last Name', class: 'form-control' %>
                      </div>

                      <div class='col-sm-3'>
                        <%= email_field_tag 'teachers[][email]', nil, required: true, maxlength: 60, placeholder: 'Email', class: 'form-control validate-field', data: { model: 'Teacher', field: 'email' } %>
                      </div>

                      <div class='col-sm-3'>
                        <%= text_field_tag 'teachers[][phone]', nil, required: true, maxlength: 60, placeholder: 'Phone', class: 'form-control' %>
                      </div>
                    </div>
                  </div>

                  <div class='form-group'>
                    <div class='row'>
                      <div class='col-sm-3'>
                        <%= text_field_tag 'teachers[][qualification]', nil, maxlength: 60, placeholder: 'Qualification', class: 'form-control' %>
                      </div>

                      <div class='col-sm-3'>
                        <%= text_field_tag 'teachers[][address]', nil, maxlength: 60, placeholder: 'Address', class: 'form-control' %>
                      </div>

                      <div class='col-sm-3'>
                        <%= text_field_tag 'teachers[][profession]', nil, maxlength: 60, placeholder: 'Designation', class: 'form-control' %>
                      </div>

                      <div class='col-sm-2'>
                        <label class='btn-bs-file btn btn-md btn-info'>
                          Upload Image
                          <%= file_field_tag 'teachers[][avatar]' %>
                        </label>
                      </div>

                      <div class='col-sm-1'>
                        <%= button_tag type: :button, class: 'btn btn-danger delete-row-btn' do %>
                          <i class='fa fa-trash' aria-hidden='true'></i>
                        <% end %>
                      </div>
                    </div>
                  </div>
                  <hr>
                </div>
              <% end %>
            </div>

            <div class='clearfix'></div>

            <div class='form-group text-center'>
              <div class='row'>
                <div class='col-sm-12'>
                  <%= button_tag type: :button, class: 'btn btn-info btn-md', id: 'add-row-btn' do %>
                    <i class='fa fa-plus' aria-hidden='true'></i> Add Row
                  <% end %>
                </div>
              </div>
            </div>

            <div class='form-group text-center'>
              <div class='row'>
                <div class='col-sm-12'>
                  <%= submit_tag 'Insert All Teachers', class: 'btn btn-primary btn-lg' %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :javascript do %>
  SingleModelBulkInsertion.init();
<% end %>
