<div class='ibox float-e-margins'>
  <div class='ibox-title'>
    <h5>Teacher form <small> Please fill the details correctly</small></h5>
  </div>
  <div class='ibox-content'>
    <%= simple_form_for([:administrator, teacher], validate: true, html: { class: 'form-horizontal' }) do |f| %>
      <%= f.error_notification %>

      <div class='form-inputs'>
        <div class='form-group'>
          <div class='col-sm-4'>
            <%= f.input :first_name, label: false, placeholder: 'First Name', input_html: { class: 'form-control' } %>
          </div>

          <div class='col-sm-4'>
            <%= f.input :last_name, label: false, placeholder: 'Last Name', input_html: { class: 'form-control' } %>
          </div>

          <div class='col-sm-4'>
            <%= f.input :email, label: false, placeholder: 'Email', input_html: { class: 'form-control validate-field', data: { model: 'Teacher', field: 'email' } } %>
          </div>
        </div>
      </div>

      <div class='form-inputs'>
        <div class='form-group'>
          <div class='col-sm-4'>
            <%= f.input :phone, label: false, placeholder: 'Phone', input_html: { class: 'form-control' } %>
          </div>

          <div class='col-sm-4'>
            <%= f.input :qualification, label: false, placeholder: 'Qualification', input_html: { class: 'form-control' } %>
          </div>

          <div class='col-sm-4'>
            <%= f.input :address, label: false, placeholder: 'Address', input_html: { class: 'form-control' } %>
          </div>
        </div>
      </div>

      <div class='form-inputs'>
        <div class='form-group'>
          <div class='col-sm-4'>
            <%= f.input :profession, label: false, placeholder: 'Designation', input_html: { class: 'form-control' } %>
          </div>

          <div class='col-sm-4'>
            <label class='btn-bs-file btn btn-md btn-info'>
              Upload Image
              <%= f.input :avatar, label: false, as: :file, input_html: { class: 'form-control' } %>
            </label>
          </div>
        </div>
      </div>

      <div class='form-inputs'>
        <div class='form-group'>
          <div class='col-sm-4'></div>

          <div class='col-sm-4'>
            <div id='uploaded-image'></div>
            <%= image_tag(f.object.avatar.url(:medium), class: 'img-thumbnail', id: 'previous-image') if f.object.avatar.present? %>
          </div>

          <div class='col-sm-4'></div>
        </div>
      </div>

      <div class='form-group m-t-lg'>
        <div class='col-sm-4 col-sm-offset-4 text-center'>
          <%= f.submit class: 'btn btn-lg btn-primary' do %>
            <i class='fa fa-check'> Submit
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
