<div class='row wrapper border-bottom white-bg page-heading'>
  <div class='col-lg-9'>
    <h2>
      <%= link_to :back, class: 'btn btn-sm btn-primary btn-outline m-t-n-xs' do %>
        <i class='fa fa-arrow-left'></i>
      <% end %>

      Teacher Attendance 
    </h2>
    <ol class='breadcrumb'>
      <li>
        <%= link_to 'Home', administrator_root_path %>
      </li>
       <li>
        <%= link_to 'Teachers', administrator_teachers_path %>
      </li>

      <li class='active'>
        <strong>List</strong>
      </li>
    </ol>
  </div>
</div>

<div class="ibox">
  <div class="ibox-content">
    <%= form_tag attendance_administrator_teacher_path(@teacher), method: :get do %>
      <div class="row">
        <div id="subject_holder">
          <div class="col-md-3">
            <%= date_field_tag :start_range, params[:start_range], class: "hide start_range" %>
            <%= date_field_tag :end_range, params[:end_range], class: "hide end_range" %>
            <div class="form-group">
              <label style="margin-bottom: 5px;">Date Range</label>

              <div class="input-group">
                <div id="reportrange" class="pull-right daterangepicker-field">
                  <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                  <span></span> <b class="caret"></b>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-2 m-t-md">
          <center>
            <button type="submit" class="btn btn-block btn-primary">View Report</button>
          </center>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="wrapper animated wrapper-content">
  <div class="row">
    <div class="col-lg-12">
      <div class="full-height-scroll">
        <div class="row m-b-lg m-t-lg">
          <div class="col-md-8">
            <div class="profile-image">
              <%= image_tag @teacher.avatar.url(:thumb), class: "m-b-md", alt:"profile" %>
            </div>
            <div class="profile-info">
              <div class="">
                <div>
                  <h2 class="no-margins">
                    <%= @teacher.full_name %>
                  </h2>
                  <h4>
                    Email: <i class="fa fa-envelope"> <%= @teacher.email %></i>
                  </h4>
                  <h4>
                    Academic Period: <i class="fa fa-clock-o"> <%= current_term.display_term_duration %></i>
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <% @formated_results.each_with_index do |(month, records), index| %>
            <div class="col-lg-6 col-sm-6 col-md-6">
              <div class="ibox">
                <div class="ibox-content">
                  <h2 class="text-center"><i class="fa fa-clock-o"></i> <%= month %></h2>
                  <div class="row ">
                    <div class="col-lg-6 col-sm-6 col-md-6">
                      <%= pie_chart(@month_statistics[month], width: "100%", height: "250px", adapter: "highcharts", library: {
                            title: { text: "Attendance Report"},
                            tooltip: {
                              pointFormat: 'Teachers: <b>{point.percentage:.1f}%</b>'
                            },
                            plotOptions: {
                              pie: {
                                  colors: ['#1ab394', '#ed5565', '#f8ac59'],
                                allowPointSelect: true,
                                  cursor: 'pointer',
                                  dataLabels: {
                                    enabled: true,
                                    format: '{point.percentage:.1f} %',
                                    distance: -24,
                                    filter: {
                                        property: 'percentage',
                                        operator: '>',
                                        value: 3
                                    }
                                  },
                                  showInLegend: true,
                              }
                            }
                          }
                      ) %>
                    </div>

                    <div class="col-lg-6 col-sm-6 col-md-6">
                      <%= pie_chart(@month_late_statistics[month], width: "100%", height: "250px", adapter: "highcharts", library: {
                            title: { text: "Timing Report"},
                            tooltip: {
                              pointFormat: 'Teachers: <b>{point.percentage:.1f}%</b>'
                            },
                            plotOptions: {
                              pie: {
                                  colors: ['#1ab394', '#1c84c6'],
                                  allowPointSelect: true,
                                  cursor: 'pointer',
                                  dataLabels: {
                                    enabled: true,
                                    format: '{point.percentage:.1f} %',
                                    distance: -24,
                                    filter: {
                                        property: 'percentage',
                                        operator: '>',
                                        value: 3
                                    }
                                  },
                                  showInLegend: true,
                              }
                            }
                          }
                      ) %>
                    </div>
                  </div>
                  <div class="table-responsive">
                    <table class='table table-bordered table-hover attendance-table'>
                      <thead>
                        <tr>
                          <th colspanclass='text-center'><%= Date %></th>
                          <th class='text-center'>Arrival</th>
                          <th class='text-center'>Departure</th>
                          <th class='text-center'>Attendance</th>
                        </tr>
                      </thead>

                      <tbody>
                        <% attendances = records.group_by{ |m| m.day.day } %>
                        <% (@key_to_dates[month][:start_date].to_date..@key_to_dates[month][:end_date].to_date).each do |date| %>
                          <tr>
                            <% attendance = attendances[date.day].try(:first) %>
                            <td class='text-center'><%= render_time date, :date_only %></td>
                            <% if attendance && attendance.day.day == date.day %>
                              <td  class='text-center'><%= time_format attendance.arrival %></td>
                              <td  class='text-center'><%= time_format attendance.departure %></td>
                              <td class='text-center <%= attendance.status %> <%= get_late_class(attendance) %>'>
                                <%= display_attendance_status(attendance.status) %>
                              </td>
                            <% else %>
                              <td  class='text-center'></td>
                              <td  class='text-center'></td>
                              <td class='text-center'></td>
                            <% end %>
                          </tr>
                         <% end %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
