<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-9">
    <h2>Teachers</h2>
    <ol class="breadcrumb">
      <li>
        <%= link_to "Home", root_path %>
      </li>
      <li class="active">
        <strong>Teachers</strong>
      </li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content  animated fadeInRight">
  <div class="row">
    <div class="col-sm-12">
      <div class="ibox">
        <div class="ibox-content">
          <span class="text-muted small pull-right">
            last modification: aasdad
          </span>
          <h2>Teachers</h2>
          <p>
            All Teachers
          </p>
          <div class="clients-list">
            <ul class="nav nav-tabs">
              <span class="pull-right small text-muted">1406 Elements</span>
              <li class="active"><a data-toggle="tab" href="#tab-1"><i class="fa fa-user"></i> Teachers</a></li>
              <li class=""><a data-toggle="tab" href="#tab-2"><i class="fa fa-briefcase"></i> Add New Teacher</a></li>
              <li class=""><a data-toggle="tab" href="#tab-3"><i class="fa fa-briefcase"></i> Admint Bulk Teachers</a></li>
            </ul>
            <div class="tab-content full-height-scroll">
              <div id="tab-1" class="tab-pane active">
                <div class="input-group">
                  <input type="text" placeholder="Search teacher " class="input form-control">
                  <span class="input-group-btn">
                    <button type="button" class="btn btn btn-primary"> <i class="fa fa-search"></i> Search</button>
                  </span>
                </div>
                <div class="ibox"></div>
                <div class="row">
                  <% @teachers.each do |teacher| %>
                    <div class="col-lg-4">
                      <div class="contact-box">
                        <%= link_to [:administrator, teacher] do %>
                          <div class="col-sm-4">
                            <div class="text-center">
                              <%= image_tag teacher.avatar.url(:medium), class: "img-circle m-t-xs img-responsive", alt: "image"%>
                              <div class="m-t-xs font-bold">Graphics designer</div>
                            </div>
                          </div>
                          <div class="col-sm-8">
                            <h3><strong><%= teacher.name %></strong></h3>
                            <p><i class="fa fa-envelope"></i> <%= teacher.email %></p>
                            <address>
                              <strong>Twitter, Inc.</strong><br>
                              795 Folsom Ave, Suite 600<br>
                              San Francisco, CA 94107<br>
                              <abbr title="Phone">P:</abbr> (123) 456-7890
                            </address>
                          </div>
                          <div class="clearfix"></div>
                        <% end %>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
              <div id="tab-2" class="tab-pane">
                <div class="full-height-scroll">
                  <%= render 'form', teacher: @new_teacher %>
                </div>
              </div>
              <div id="tab-3" class="tab-pane">
                biuld
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :javascript do %>

<script type="text/javascript">

$(function () {

    $('.contact-box').each(function () {
        animationHover(this, 'pulse');
    });

});

</script>

<% end %>

