<div class='row wrapper border-bottom white-bg page-heading'>
  <div class='col-lg-9'>
    <h2>
      <%= link_to :back, class: 'btn btn-sm btn-primary btn-outline m-t-n-xs' do %>
        <i class='fa fa-arrow-left'></i>
      <% end %>

      Teachers
    </h2>
    <ol class='breadcrumb'>
      <li>
        <%= link_to 'Home', administrator_root_path %>
      </li>

       <li>
        <%= link_to 'List', administrator_teachers_path %>
      </li>

      <li class="active">
        <strong> <%= link_to @teacher.name, administrator_teacher_path(@teacher) %> </strong>
      </li>
    </ol>
  </div>
</div>

<div class='wrapper wrapper-content animated fadeInRight'>
  <div class='row m-b-lg m-t-lg'>
    <div class='col-md-5'>
      <div class='profile-image'>
        <%= image_tag @teacher.avatar.url(:medium), class: 'img-circle circle-border m-b-md' %>
      </div>

      <div class='profile-info'>
        <div class=''>
          <div>
            <h2 class='no-margins'>
              <%= @teacher.name %>
            </h2>
            <h4><%= @teacher.profession %></h4>
            <small><%= @teacher.address %></small>
          </div>
        </div>
      </div>
    </div>

    <div class='col-md-5 text-center'>
      <table class='table small m-b-xs'>
        <tbody>
          <tr>
            <td>
              <%= @teacher.email %>
            </td>
            <td>
              <strong><%= @teacher.section_subject_teachers.map(&:subject_id).uniq.count %></strong> Subjects
            </td>
          </tr>

          <tr>
            <td>
              <%= @teacher.phone %>
            </td>
            <td>
              <strong><%= @teacher.sections.uniq.count %></strong> Sections
            </td>
          </tr>

          <tr>
            <td>
              <%= @teacher.qualification %>
            </td>
            <td>
              <strong><%= @teacher.sections.uniq.collect(&:students).flatten.count %></strong> Students
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class='col-md-2'>
      <%= link_to '#', data: { toggle: 'modal', target: "#create-message-#{@teacher.id}" }, class: 'btn btn-success btn-outline btn-block' do %>
          <i class="fa fa-envelope"></i> Message
        <% end %>

      <%= link_to edit_administrator_teacher_path(@teacher), class: 'btn btn-info btn-block btn-outline' do %>
        <i class='fa fa-paste'></i> Edit
      <% end %>

      <%= link_to administrator_teacher_path(@teacher), data: { behavior: 'delete', object: @teacher.class.name }, class: 'btn btn-danger btn-outline btn-block m-t-md' do %>
        <i class='fa fa-trash-o'></i> Delete
      <% end %>
    </div>
  </div>

  <div class='row m-b-lg m-t-lg'>
    <div class="col-lg-6">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Sections Details</h5>
          <div class="ibox-tools">
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
          </div>
        </div>

        <div class="ibox-content">
          <table class="table">
            <thead>
              <tr>
                <th>Class</th>
                <th>Section</th>
                <th>Subject</th>
                <th>No of Students</th>
              </tr>
            </thead>

            <tbody>
              <% @section_subjects.each do |section_subject| %>
                <tr>
                  <td><%= link_to section_subject.section.klass.name, administrator_klass_path(section_subject.section.klass), class: 'btn-link' %></td>
                  <td><%= link_to section_subject.section.name, administrator_section_students_path(section_subject.section), class: 'btn-link' %></td>
                  <td><%= section_subject.subject.name %></td>
                  <td><%= section_subject.section.students.length %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div id='create-message-<%= @teacher.id %>' class='modal message-modal' aria-hidden='true'>
  <div class="modal-dialog">
    <div class="modal-content animated flipInY">
      <div class="modal-header text-center">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h3 class="modal-title">Message</h3>
      </div>

      <%= form_for :message, url: conversation_messages_path(conversation_id: '-1'), remote: true, html: { class: 'form-horizontal' } do |f| %>
        <%= hidden_field_tag :recipient_id, @teacher.id %>

        <div class='modal-body text-center'>
          <div class='row'>
            <div class='col-sm-10 col-sm-offset-1'>
              <div class='form-group'>
                <%= f.text_area :body, rows: 4, required: true, maxlength: 250, placeholder: 'Type message...', class: 'form-control' %>
              </div>
            </div>
          </div>
        </div>

        <div class='modal-footer'>
          <div class='text-center'>
            <%= button_tag class: 'btn btn-lg btn-info' do %>
              <i class='fa fa-plus'></i> Send Message!
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
