<div class="ibox float-e-margins">
  <div class="ibox-title">
    <h5><%= @klass.name %>-<%= @section.name %> assignment for <%= @subject.name %></h5>
    <div class="ibox-tools">
      <button type="button" class="btn btn-info btn-outline btn-xs add-assignment-modal m-r-md" data-toggle="modal" data-target="#assignment-modal">
        Add Assignment
      </button>
      <a class="collapse-link">
        <i class="fa fa-chevron-up"></i>
      </a>
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-wrench"></i>
      </a>
      <a class="close-link">
        <i class="fa fa-times"></i>
      </a>
    </div>
  </div>
  <div class="ibox-content">
    <div class='assignments-table'>
      <table class='table m-b-xs'>
        <thead>
          <tr>
            <th>#</th>
            <th>Heading</th>
            <th>Assigned at</th>
            <th>Submission Deadline</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @assignments.each_with_index do |assignment, index| %>
            <tr>
              <td><%= index + 1 %></td>
              <td><%= assignment.heading %></td>
              <td><%= render_time(assignment.assigned_at) %></td>
              <td><%= render_time(assignment.submission_deadline) %></td>
              <td>
                <button type="button" class="btn btn-info btn-outline btn-xs task-modal" data-toggle="modal" data-target="#task-modal-<%= assignment.id%>">
                  <i class="fa fa-eye"></i>
                </button>

                <%= link_to edit_assignment_path(assignment), class: "btn btn-success btn-outline dim btn-xs", data: { toggle: 'tooltip', placement: 'top' }, title: 'Edit' do %>
                  <i class="fa fa-edit"></i>
                <% end %>

                <%= link_to assignment_path(assignment), class: "btn btn-danger btn-outline dim btn-xs", data: { toggle: 'tooltip', placement: 'top' }, title: 'Delete', method: :delete, confirm: 'Are you sure?' do %>
                  <i class="fa fa-trash-o"></i>
                <% end %>
              </td>
            </tr>
            <%= render partial: 'task_modal', locals: {assignment: assignment} %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%= render partial:  'teacher/sections/assignments_modal' %>
