<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-3">
      <div class="widget dashboard-style lazur-bg">
        <div class="row">
          <div class="col-xs-4">
            <i class="fa fa-users fa-5x"></i>
          </div>

          <div class="col-xs-8 text-right">
            <span>Students</span>
            <h2 class="font-bold"><%= @rolling[:students] %></h2>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="widget dashboard-style red-bg">
        <div class="row">
          <div class="col-xs-4">
            <i class="fa fa-leanpub fa-5x"></i>
          </div>

          <div class="col-xs-8 text-right">
            <span>Teachers</span>
            <h2 class="font-bold"><%= @rolling[:teachers] %></h2>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="widget dashboard-style yellow-bg">
        <div class="row">
          <div class="col-xs-4">
            <i class="fa fa-cubes fa-5x"></i>
          </div>

          <div class="col-xs-8 text-right">
            <span>Classes</span>
            <h2 class="font-bold"><%= @rolling[:klasses] %></h2>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="widget dashboard-style blue-bg">
        <div class="row">
          <div class="col-xs-4">
            <i class="fa fa-table fa-5x"></i>
          </div>

          <div class="col-xs-8 text-right">
            <span>Sections</span>
            <h2 class="font-bold"><%= @rolling[:sections] %></h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row m-t-sm">
    <div class='col-md-12'>
      <%= render 'note_create_form' %>
    </div>
  </div>

  <%= render 'notes', notes: current_user.notes %>
</div>
