<section class='comments gray-section no-margins'>
  <div class='container'>
    <div class='row'>
      <div class='col-lg-12 text-center'>
        <div class='navy-line'></div>
        <h1>What our partners say</h1>
        <p>Donec sed odio dui. Etiam porta sem malesuada. </p>
      </div>
    </div>
  </div>

  <div class='carousel slide' data-ride='carousel' id='comments-carousel'>
    <div class='container'>
      <div class='carousel-inner'>
        <% @remarks.in_groups_of(3) do |remarks_group| %>
          <div class='item <%= "active" if remarks_group.first == @remarks.first %>'>
            <div class='row'>
              <% remarks_group.each do |remark| next if remark.blank? %>
                <div class='col-lg-4'>
                  <div class='bubble'>
                    <div><strong><%= remark.heading %></strong></div>
                    <%= remark.message %>
                  </div>

                  <div class='comments-avatar'>
                    <%= link_to image_tag(remark.user_avatar_url), 'javascript;', class: 'pull-left' %>

                    <div class='media-body'>
                      <div class='commens-name'>
                        <%= remark.user_name %>
                      </div>
                      <small class='text-muted'><%= remark.user_institution %> from Pakistan</small>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <%= link_to('#comments-carousel', data: { slide: :prev }, class: 'left carousel-control') { icon_of('fa fa-chevron-left') } %>

    <%= link_to('#comments-carousel', data: { slide: :next }, class: 'right carousel-control') { icon_of('fa fa-chevron-right') } %>
  </div>
</section>
