<% if @institution.present? %>
  <section id='services' class='container services m-t-lg'>
    <div class='row'>
      <div class='col-sm-3'>
        <h2>
          <%= link_to 'Login as Admin', new_administrator_session_path, class: 'btn btn-success btn-lg' %>
        </h2>
        <p>Login as Admin and manage everything of your institute.</p>
      </div>

      <div class='col-sm-3'>
        <h2>
          <%= link_to 'Login as Teacher', new_teacher_session_path, class: 'btn btn-danger btn-lg' %>
        </h2>
        <p>Login as Teacher and manage your sections.</p>
      </div>

      <div class='col-sm-3'>
        <h2>
          <%= link_to 'Login as Guardian', new_student_session_path, class: 'btn btn-primary btn-lg' %>
        </h2>
        <p>Login as Guardian and view all the statistics of your child(ren).</p>
      </div>

      <div class='col-sm-3'>
        <h2>
          <%= link_to 'Login as Student', new_guardian_session_path, class: 'btn btn-info btn-lg' %>
        </h2>
        <p>Login as Student and view all your statistics and online homework/assignments.</p>
      </div>
    </div>
  </section>
<% else %>
  <section id='services' class='container services m-t-lg'>
    <div class='row text-center'>
      <div class='col-sm-3'>
        <h2>
          <%= button_tag 'Admin', type: :button, class: 'btn btn-success btn-lg' %>
        </h2>
        <p>Admins can manage everything of an institute by using our application.</p>
      </div>

      <div class='col-sm-3'>
        <h2>
          <%= button_tag 'Teacher', type: :button, class: 'btn btn-danger btn-lg' %>
        </h2>
        <p>Teachers can manage their sections by using our application.</p>
      </div>

      <div class='col-sm-3'>
        <h2>
          <%= button_tag 'Guardian', type: :button, class: 'btn btn-primary btn-lg' %>
        </h2>
        <p>Guardians can view all the statistics of thier child(ren).</p>
      </div>

      <div class='col-sm-3'>
        <h2>
          <%= button_tag 'Student', type: :button, class: 'btn btn-info btn-lg' %>
        </h2>
        <p>Students can view all their statistics and online homework/assignments.</p>
      </div>
    </div>
  </section>
<% end %>
