<section id='services' class='container services m-t-lg no-padding'>
  <div class="row">
    <div class="col-lg-12 text-center">
      <div class="navy-line"></div>
      <h1>Members</h1>
      <p>Users with their roles in our system</p>
    </div>
  </div>

  <% if @institution.present? %>
    <div class='row'>
      <div class='col-sm-3 text-center'>
        <h2>
          <%= link_to 'Login as Admin', new_administrator_session_path, class: 'btn btn-success btn-lg' %>
        </h2>
        <p>Login as Admin to manage everything.</p>
      </div>

      <div class='col-sm-3 text-center'>
        <h2>
          <%= link_to 'Login as Teacher', new_teacher_session_path, class: 'btn btn-danger btn-lg' %>
        </h2>
        <p>Login as Teacher to manage your sections.</p>
      </div>

      <div class='col-sm-3 text-center'>
        <h2>
          <%= link_to 'Login as Student', new_guardian_session_path, class: 'btn btn-info btn-lg' %>
        </h2>
        <p>Login as Student to view all your statistics and online homework/assignments.</p>
      </div>

      <div class='col-sm-3 text-center'>
        <h2>
          <%= link_to 'Login as Guardian', new_student_session_path, class: 'btn btn-primary btn-lg' %>
        </h2>
        <p>Login as Guardian to view all the statistics of your child(ren).</p>
      </div>
    </div>
  <% else %>
    <div class='row text-center'>
      <div class='col-sm-3'>
        <h2>
          <%= button_tag 'Admin', type: :button, class: 'btn btn-success btn-lg' %>
        </h2>
        <p>Admins can manage everything of an institute by using our Portal.</p>
      </div>

      <div class='col-sm-3'>
        <h2>
          <%= button_tag 'Teacher', type: :button, class: 'btn btn-danger btn-lg' %>
        </h2>
        <p>Teachers can manage their sections by using our application.</p>
      </div>

      <div class='col-sm-3'>
        <h2>
          <%= button_tag 'Student', type: :button, class: 'btn btn-info btn-lg' %>
        </h2>
        <p>Students can view all their statistics and online homework/assignments.</p>
      </div>

      <div class='col-sm-3'>
        <h2>
          <%= button_tag 'Guardian', type: :button, class: 'btn btn-primary btn-lg' %>
        </h2>
        <p>Guardians can view all the statistics of their child(ren).</p>
      </div>
    </div>
  <% end %>
</section>
