<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-9">
    <h2>Subjects</h2>
    <ol class="breadcrumb">
      <li>
        <%= link_to "Home", root_path %>
      </li>
      <li class="active">
        <strong>Subjects</strong>
      </li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="ibox">
    <div class="ibox-title">
      <h5>All Subjects for institution <span class="text-navy"><%= current_institute.name %></span></h5>

      <div class="ibox-tools">
        <%= link_to "Add new subject", new_administrator_subject_path, class:"btn btn-primary btn-xs" %>
      </div>
    </div>
  </div>

    <div class="ibox-content">
      <table class="table table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>Subject Name</th>
                <th>Description</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% @subjects.each_with_index do |subject, index| %>
                <tr>
                  <td><%= index + 1 %></td>
                  <td><%= subject.name %></td>
                  <td><%= subject.description %></td>
                  <td>
                    <%= link_to [:administrator, subject], class: "btn btn-white btn-sm" do %>
                        <i class="fa fa-folder"></i> View
                    <% end %>
                    <%= link_to edit_administrator_subject_path(subject), class: "btn btn-white btn-sm" do %>
                      <i class="fa fa-pencil"></i> Edit
                    <% end %>
                    <%= link_to administrator_subject_path(subject), class: "btn btn-white btn-sm", method: :delete, confirm: 'Are you sure?' do %>
                      <i class="fa fa-trash-o"></i> Destroy
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>

</div>

