<h3>Hi <%= @administrator.name %>,</h3>
<h5>You have been added as <%= @institution.name %> administrator.</h5>
<br>

<h6>Your login credentials are</h6>
<p><strong>Email:</strong> <%= @administrator.email %></p>
<p><strong>Password:</strong> <%= @password %></p>

<br>

<% login_url = [[[Institution.current.subdomain, Rails.application.config.action_mailer.default_url_options[:host]].join('.'), @administrator.model_name.element.pluralize].join('/'), 'sign_in'].join('/') %>


<%= link_to 'Log in now', login_url, class: 'btn', style: 'background-color: #1ab394; border-color: #1ab394; color: white;' %>
