<%= form_for([:administrator, exam], validate: true, html: {class: "form-horizontal"}) do |f| %>
  <div class="form-inputs">
    <div class="form-group">
      <label class="col-sm-2 control-label">Name</label>
      <div class="col-sm-8">
        <%= f.text_field :name, class: "form-control", required: true %>
      </div>
    </div>
  </div>

  <div class="form-inputs">
    <div class="form-group">
      <label class="col-sm-2 control-label">Date</label>
      <div class="col-sm-8">
        <%= f.text_field :start_date, class: "form-control datepicker", required: true %>
      </div>
    </div>
  </div>

  <div class="form-inputs">
    <div class="form-group">
      <label class="col-sm-2 control-label">Comment</label>
      <div class="col-sm-8">
        <%= f.text_area :comment, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-6 col-sm-offset-1">
      <%= f.submit class: "btn btn-lg btn-primary pull-right" do %>
        <i class="fa fa-check">&nbsp;Submit</i>
      <% end %>
    </div>
  </div>
<% end %>
