<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-9">
    <h2>Exams</h2>
    <ol class="breadcrumb">
      <li>
        <%= link_to 'Home', administrator_root_path %>
      </li>
      <li class="active">
        <strong>Exams List</strong>
      </li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content  animated fadeInRight">
  <div class="row">
    <div id='left-section' class="col-sm-12">
      <div class="ibox">
        <div class="ibox-content">
          <h2>Exams List</h2>
          <p>
            All Exams
          </p>
          <div class="clients-list">
            <ul class="nav nav-tabs">
              <span class="pull-right small text-muted"><%= "#{@exams.count} Exams" %></span>
              <li class="active"><a data-toggle="tab" href="#tab-1"><i class="fa fa-list"></i> Exam List</a></li>
              <li class=""><a data-toggle="tab" href="#tab-2"><i class="fa fa-briefcase"></i> Add Exam</a></li>
            </ul>
            <div class="tab-content">
              <div id="tab-1" class="tab-pane active">
                <%= render partial: 'shared/search_box', locals: {path: administrator_exams_path} %>
                <div class="full-height-scroll">
                  <div class="table-responsive">
                    <table class="table table-striped table-hover table-bordered">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Name</th>
                          <th>Date</th>
                          <th>Comment</th>
                          <th>Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% @exams.each_with_index do |exam, index| %>
                          <tr>
                            <td><%= index.succ %></td>
                            <td>
                              <%= exam.name %>
                            </td>
                            <td>
                              <%= exam.start_date %>
                            </td>
                            <td>
                              <%= exam.comment %>
                            </td>
                            <td>
                              <%= link_to [:administrator, exam], class: "btn btn-outline btn-success dim btn-xs", data: { toggle: 'tooltip', placement: 'top' }, title: 'View' do %>
                                <i class="fa fa-eye"></i>
                              <% end %>
                              <%= link_to edit_administrator_exam_path(exam), class: "btn btn-outline btn-info dim btn-xs", data: { toggle: 'tooltip', placement: 'top' }, title: 'Edit' do %>
                                <i class="fa fa-pencil-square-o"></i>
                              <% end %>
                              <%= link_to administrator_exam_path(exam), class: "btn btn-outline btn-danger dim btn-xs", data: { toggle: 'tooltip', placement: 'top' }, title: 'Delete', method: :delete, confirm: 'Are you sure?' do %>
                                <i class="fa fa-trash-o"></i>
                              <% end %>
                              <%= link_to administrator_exam_exam_timetables_path(exam), class: "btn btn-outline btn-info dim btn-xs" do %>
                                <i class="fa fa-clock"></i> Manage Datesheet
                              <% end %>
                              <%= link_to(status_update_administrator_exam_path(exam), method: :post, class: "btn btn-outline #{entity_status_class(exam)} dim btn-xs") { entity_status(exam) } %>
                            </td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

              <div id="tab-2" class="tab-pane">
                <div class="full-height-scroll">
                  <%= render 'new_exam', exam: @new_exam %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% content_for :javascript do %>
  enable_autocomplete('/administrator/exams')
<% end %>

