<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @exam.name %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @exam.start_date %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @exam.comment %>
</p>

<%= link_to 'Edit', edit_administrator_exam_path(@exam) %> |
<%= link_to 'Back', administrator_exams_path %>
