<h3>Hi <%= @guardian.name %></h3>
<p>You have been added as <strong><%= @guardian.class.name %></strong> in <strong><%= @institution.name %>.</strong></p>
<br>

<h4>Your login credentials are</h4>
<p><strong>Email:</strong> <%= @guardian.email %></p>
<p><strong>Password:</strong> <%= @password %></p>

<br>

<% login_url = [[[@institution.subdomain, Rails.application.config.action_mailer.default_url_options[:host]].join('.'), @guardian.model_name.element.pluralize].join('/'), 'sign_in'].join('/') %>

<%= link_to 'Log in now', login_url, style: 'background-color: #1ab394; border-color: #1ab394; color: white; display: inline-block; padding: 6px 12px; margin-bottom: 0; font-size: 14px; font-weight: 400; line-height: 1.42857143; text-align: center; white-space: nowrap; vertical-align: middle; -ms-touch-action: manipulation; touch-action: manipulation; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; background-image: none; border: 1px solid transparent; border-radius: 4px; text-decoration: none; font-weight: bold;' %>
