<div class='ibox float-e-margins'>
  <div class='ibox-title'>
    <h5>Student Form <small> Please fill the details correctly</small></h5>
  </div>
  <div class='ibox-content'>
    <%= form_for([:administrator, @section, student], validate: true, html: { class: 'form-horizontal' }) do |f| %>

      <div class='whole-form'>
        <div class='form-inputs'>
          <div class='form-group'>
            <div class='col-sm-4'>
              <%= f.text_field :first_name, placeholder: 'First Name', class: 'form-control' %>
            </div>

            <div class='col-sm-4'>
              <%= f.text_field :last_name, placeholder: 'Last Name', class: 'form-control' %>
            </div>

            <div class='col-sm-4'>
              <%= f.email_field :email, placeholder: 'Email', validate: false, class: 'form-control', data: { model: 'Student', field: 'email' } %>
            </div>
          </div>
        </div>

        <div class='form-inputs'>
          <div class='form-group'>
            <div class='col-sm-4'>
              <%= f.text_field :roll_number, placeholder: 'Roll Number', class: 'form-control' %>
            </div>

            <div class='col-sm-4'>
              <%= f.select :gender, options_for_select(User::GENDERS), {include_blank: false}, { class: 'form-control' } %>
            </div>

            <div class='col-sm-4'>
              <%= f.text_field :registration_number, placeholder: 'Registration Number', class: 'form-control' %>
            </div>
          </div>
        </div>

        <div class='form-inputs'>
          <div class='form-group'>
            <div class='col-sm-4'>
              <% if params.dig(:student, :guardian_id).present? %>
                <% guardian = Guardian.find_by(id: params[:student][:guardian_id]) %>
                <% guardian_option = [guardian.first_name, guardian.id] %>
              <% end %>

              <%= f.select :guardian_id, options_for_select([guardian_option]), {prompt: 'Select Gender'}, { class: 'form-control select-guardians' } %>
            </div>

            <div class='col-sm-4'>
              <label class='btn-bs-file btn btn-md btn-info'>
                Upload Image
                <%= f.file_field :avatar, class: 'form-control' %>
              </label>
            </div>

            <div class='col-sm-4'>
              <%= button_tag type: :button, class: 'btn btn-success show-guardian-form-btn width-100-p' do %>
                <i class='fa fa-plus' aria-hidden='true'></i> New Guardian
              <% end %>
            </div>
          </div>
        </div>

        <div class='form-inputs'>
          <div class='form-group'>
            <div class='col-sm-4'></div>

            <div class='col-sm-4'>
              <div id='uploaded-image'></div>
              <%= image_tag(f.object.avatar.url(:medium), class: 'img-thumbnail', id: 'previous-image') if f.object.avatar.present? %>
            </div>

            <div class='col-sm-4'></div>
          </div>
        </div>

        <div class='form-inputs guardian-form hide'>
          <div class='form-group'>
            <div class='col-sm-4'>
              <%= text_field_tag 'guardian[first_name]', nil, disabled: true, required: true, maxlength: 60, placeholder: 'Guardian First Name', class: 'form-control' %>
            </div>

            <div class='col-sm-4'>
              <%= text_field_tag 'guardian[last_name]', nil, disabled: true, required: true, maxlength: 60, placeholder: 'Guardian Last Name', class: 'form-control' %>
            </div>

            <div class='col-sm-4'>
              <%= text_field_tag 'guardian[email]', nil, disabled: true, required: true, maxlength: 60, placeholder: 'Guardian Email', class: 'form-control' %>
            </div>
          </div>

          <div class='form-group'>
            <div class='col-sm-4'>
              <%= text_field_tag 'guardian[cnic]', nil, disabled: true, required: true, maxlength: 60, placeholder: 'Guardian CNIC', class: 'form-control' %>
            </div>

            <div class='col-sm-4'>
              <%= text_field_tag 'guardian[phone]', nil, disabled: true, required: true, maxlength: 60, placeholder: 'Guardian Phone', class: 'form-control' %>
            </div>
          </div>
        </div>
      </div>

      <div class='form-group'>
        <div class='col-sm-4 col-sm-offset-4 text-center'>
          <%= f.submit class: 'btn btn-lg btn-primary' do %>
            <i class='fa fa-check'>&nbsp;Submit</i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>


<% content_for :javascript do %>
  Student.init();
  Select2Trigger.init();
<% end %>
