<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Students</h2>
    <ol class="breadcrumb">
      <li>
        <%= link_to 'Home', administrator_root_path %>
      </li>
      <li>
        <%= link_to administrator_sections_path(klass_id: @section.klass.id) do %>
          Manage Sections
        <% end %>
      </li>
      <li class="active">
        <strong>Students</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div id='left-section' class="col-sm-8">
      <div class="ibox">
        <div class="ibox-content">
          <h2>Students</h2>
          <p>
            All students enrolled in class <%= @section.klass_name %> section <%= @section.name %>.
          </p>
          <div class="clients-list">
            <ul class="nav nav-tabs">
              <span class="pull-right small text-muted"><%= "#{@students.count} Students" %></span>
              <li class="active"><a data-toggle="tab" href="#tab-1"><i class="fa fa-user"></i> Students</a></li>
              <li class=""><a data-toggle="tab" href="#tab-2"><i class="fa fa-briefcase"></i> Admit Student</a></li>
              <li class="">
                <%= link_to bulk_view_administrator_section_students_path @section do %>
                  <i class="fa fa-briefcase"></i> Admit Bulk Students
                <% end %>
              </li>
            </ul>
            <div class="tab-content">
              <div id="tab-1" class="tab-pane active">
                <%= render 'section_students' %>
              </div>
              <div id="tab-2" class="tab-pane">
                <div class="full-height-scroll">
                  <%= render 'form', student: @new_student %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="ibox ">
        <div class="ibox-content">
          <div class="tab-content">
            <% @students.each_with_index do |student, index| %>
              <% section = student.current_section(current_term.id) %>
              <div id="student-<%= student.id %>" class="tab-pane <% if index == 0 %> active <% end %>">
                <div class="widget-head-color-box bg-info p-lg text-center color-white">
                  <div class="m-b-md">
                    <h2 class="font-bold"><%= link_to student.name, administrator_section_student_path(section, student) %></h2>
                    <h3 class="font-bold no-margins"><%= student.roll_number %></h3>
                    <small><%= student.email %></small>
                  </div>

                  <%= link_to image_tag(student.avatar.url(:thumb), class: 'img-circle circle-border m-b-md'), administrator_section_student_path(section, student) %>

                  <div>
                    <span><%= section.klass_name %></span> |
                    <span><%= section.name %></span>
                  </div>
                </div>

                <div class="widget-text-box">
                  <div class="text-center">
                    <%= link_to '#', class: 'btn btn-xs btn-info' do %>
                      <i class="fa fa-envelope"></i> Message</a>
                    <% end %>
                  </div>
                </div>

                <hr class='hr-line-solid m-b-lg m-t-lg'>

                <% if student.guardian.present? %>
                  <div class="client-detail">
                    <div class="contact-box center-version no-margins">
                      <%= link_to administrator_guardian_path(student.guardian) do %>
                        <%= image_tag student.guardian.avatar.url(:thumb), class: 'img-circle' %>

                        <h3 class="m-b-xs"><strong><%= student.guardian.name %></strong></h3>
                        <div><%= student.guardian.email %></div>

                        <address class="m-t-md">
                          <strong><%= student.guardian.cnic %></strong><br>
                          <abbr title="Phone"><%= student.guardian.phone %></abbr>
                        </address>
                      <% end %>

                      <div class="contact-box-footer">
                        <div class="m-t-xs btn-group">
                          <%= link_to '#', class: 'btn btn-xs btn-white btn-outline' do %>
                            <i class="fa fa-envelope"></i> Message
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :javascript do %>
  enable_autocomplete("/<%= params[:section_id] %>/students")
<% end %>
