<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Student registration for class <%= @section.klass_name %> section <%= @section.name %></h2>
    <ol class="breadcrumb">
      <li>
        <%= link_to "Home", root_path %>
      </li>
      <li>
        <%= link_to administrator_section_students_path(@section) do %>
          Manage Sections
        <% end %>
      </li>
      <li>
        <%= link_to "students", administrator_section_students_path(@section) %>
      </li>
      <li class="active">
        <strong>New Student Form</strong>
      </li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Register a new student <small> Please fill the details correctly</small></h5>
        </div>
        <div class="ibox-content">
          <%= render 'form', student: @student %>
        </div>
      </div>
    </div>
  </div>
</div>
