<div class="full-height-scroll">
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-fixed">
      <thead>
        <tr>
          <th colspan="1" class='text-center result-even-header'>
             Subjects <i class="fa fa-arrow-right"></i>
          </th>
          <% results[:subject_names].each do |subject_name| %>
            <th colspan="3" class='text-center gresult-total-row'><%= subject_name %></th>
          <% end %>
        </tr>
        <tr>
          <th class='text-center result-percent-row'>Students <i class="fa fa-arrow-down"></i></th>
          <% results[:subject_names].each do |subject_name| %>
            <th class='text-center result-odd-header'>Marks</th>
            <th class='text-center result-odd-header'>Abs</th>
            <th class='text-center result-odd-header'>Grade</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% results[:results].each do |mark| %>
          <tr>
            <td class='text-center result-percent-row'><%= mark[:student_name] %></td>
            <% mark[:subject_marks].each do |subject_marks| %>
              <% subject_marks.each do |subject_name, subject_mark| %>
                <td class='text-center'><%= display_obtained_marks(subject_mark[:obtained], subject_mark[:total]) %></td>
                <td class='text-center'><%= display_absolute_marks(subject_mark[:actual_obtained]) %></td>
                <td class='text-center'><strong><%= display_grade(subject_mark[:grade]) %></strong></td>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


