<div class='row wrapper border-bottom pdf_page_heading '>
  <div class='col-lg-12'>
    <h2 class="pdf_heading">
      Teacher's Attendance Report
    </h2>
    <h3>
      <%= @report_range %>
    </h3>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 col-sm-6 col-md-6">
    <%= pie_chart(@report_statistics, width: "80%", height: "250px", adapter: "highcharts", download: true, library: {
          title: { text: "Attendance Report"},
          tooltip: {
            pointFormat: 'Teachers: <b>{point.percentage:.1f}%</b>'
          },
          plotOptions: {
            pie: {
                colors: ['#1ab394', '#ed5565', '#f8ac59'],
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                  enabled: true,
                  format: '{point.percentage:.1f} %',
                  distance: -24,
                  filter: {
                      property: 'percentage',
                      operator: '>',
                      value: 3
                  }
                },
                showInLegend: true,
            }
          }
        }
    ) %>
  </div>

  <div class="col-lg-6 col-sm-6 col-md-6">
    <%= pie_chart(@report_late_statistics, width: "80%", height: "250px", adapter: "highcharts", library: {
          title: { text: "Timing Report"},
          tooltip: {
            pointFormat: 'Teachers: <b>{point.percentage:.1f}%</b>'
          },
          plotOptions: {
            pie: {
                colors: ['#1ab394', '#1c84c6'],
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                  enabled: true,
                  format: '{point.percentage:.1f} %',
                  distance: -24,
                  filter: {
                      property: 'percentage',
                      operator: '>',
                      value: 3
                  }
                },
                showInLegend: true,
            }
          }
        }
    ) %>
  </div>
</div>

<table class='table small table-bordered table-hover attendance-table'>
  <thead>
    <tr>
      <th colspan="15" class='text-center'>
        Dates <i class="fa fa-arrow-right"></i>
      </th>
      <% (@start_date.day..@end_date.day).each do |index| %>
        <th colspan="1" class='text-center'><%= index %></th>
      <% end %>
      <th colspan="1" class='text-center'>
        Total
      </th>
    </tr>
    <tr class="extra-small">
      <th colspan="15" class='text-center'>
        Teachers <i class="fa fa-arrow-down"></i> | Day <i class="fa fa-arrow-right"></i>
      </th>
      <% (@start_date.to_date..@end_date.to_date).each do |day| %>
        <th class='text-center'><%= day.strftime("%a") %></th>
      <% end %>
      <th colspan="1" class='text-center'>
        P
      </th>
    </tr>
  </thead>

  <tbody>
    <% @teachers.each do |teacher| %>
      <% attendances = @attendances[teacher.id].group_by{ |m| m.day.day } %>
      <tr>
        <td colspan="15" class='text-center'><%= teacher.full_name %></td>
        <% (@start_date.day..@end_date.day).each do |index| %>
          <% attendance = attendances[index].try(:first) %>
          <% if attendance && attendance.day.day == index %>
            <td colspan="1" class='text-center <%= attendance.status %> <%= get_late_class(attendance) %>'>
              <%= display_attendance_status(attendance.status) %>
            </td>
          <% else %>
            <td colspan="1" class='text-center'></td>
          <% end %>
        <% end %>
        <td colspan="1" class='text-center extra-small'><%= @attendances[teacher.id].select{|a| a.status == 'present'}.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
