<div class='wrapper wrapper-content animated fadeInRight'>
  <div class='row'>
    <div class='col-sm-12'>
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5><%= @schedule.klass.name %>-<%= @schedule.section.name %> Schedule for <%= @schedule.subject.name %></h5>
          <div class="ibox-tools">
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="fa fa-wrench"></i>
            </a>
            <a class="close-link">
              <i class="fa fa-times"></i>
            </a>
          </div>
        </div>
        <div class="ibox-content">
          <%= form_for(@schedule, html: { class: "form-vertical", id: "schedule-form" }) do |f| %>
            <%= render partial: 'teacher/subject_schedules/form_content', locals: {f: f} %>
            <hr/>
            <div class= 'row m-t-lg'>
              <div class='col-md-11'>
                <%= submit_tag "Publish", class: "btn btn-success m-l-md pull-right" %>
                <%= link_to 'Back', subject_schedules_path, class: 'btn btn-info pull-right' %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
