<div class='row wrapper border-bottom white-bg page-heading'>
  <div class='col-lg-9'>
    <h2>
      <%= link_to :back, class: 'btn btn-sm btn-primary btn-outline m-t-n-xs' do %>
        <i class='fa fa-arrow-left'></i>
      <% end %>

      Subject Schedules
    </h2>

    <ol class='breadcrumb'>
      <li>
        <%= link_to 'Home', root_path %>
      </li>

      <li>
        <%= link_to 'List', [:subject_schedules] %>
      </li>

      <li class='active'>
        <strong>New</strong>
      </li>
    </ol>
  </div>
</div>

<div class='wrapper wrapper-content animated fadeInRight'>
  <div class='row'>
    <div class='col-sm-12'>
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Subject Schedule</h5>
          <div class="ibox-tools">
            <a class="close-link">
              <i class="fa fa-times"></i>
            </a>
          </div>
        </div>

        <div class="ibox-content">
          <%= form_for(@schedule, html: { class: "form-vertical", id: "schedule-form" }) do |f| %>
            <%= render partial: 'teacher/subject_schedules/form_content', locals: {f: f} %>
            <hr/>

            <div class='form-group text-center'>
              <div class='row'>
                <div class='col-sm-12'>
                  <%= submit_tag 'Create', class: 'btn btn-lg btn-primary' %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
