<div class='row'>
  <div class='form-group'>
    <label class='col-md-1 control-label m-t-xs'>Class</label>
    <div class='col-md-11'>
      <%= f.select :klass_id, @klasses, { prompt: 'Select Class' }, class: 'select2_dropdown form-control selectable_klass', required: true %>
    </div>
  </div>
</div>

<div class='row m-t-md'>
  <div class='form-group'>
    <label class='col-md-1 control-label m-t-xs'>Section</label>
    <div class='col-md-11'>
      <%= f.select :section_id, @sections, { prompt: 'Select Section' }, class: 'select2_dropdown form-control selectable_section', required: true, data: {specific: true} %>
    </div>
  </div>
</div>

 <div id="subject_holder">
  <div class='row m-t-md'>
    <div class='form-group'>
      <label class='col-md-1 control-label m-t-xs'>Subject</label>
      <div class='col-md-11'>
        <%= f.select :subject_id, @subjects, { prompt: 'Select Subject' }, class: 'select2_dropdown selectable_subject', required: true, data: {specific: true} %>
      </div>
    </div>
  </div>

  <div class='row m-t-md'>
    <div class='form-group'>
      <label class='col-md-1 control-label m-t-xs'>Exam</label>
      <div class='col-md-11'>
        <%= f.select :exam_id, @exams, { prompt: 'Select Exam' }, class: 'select2_dropdown selectable_exam' %>
      </div>
    </div>
  </div>
</div>


<div class='row m-t-md'>
  <label class='col-md-1 control-label m-t-xs'>Paper</label>
  <div class='col-md-11'>
    <%= f.text_area :content, class: 'ckeditor', required: true %>
  </div>
</div>
