<div class="ibox float-e-margins">
  <div class="ibox-title">
    <h5><%= @question_paper.klass.name %>-<%= @question_paper.section.name %> Question Paper for <%= @question_paper.subject.name %></h5>
    <div class="ibox-tools">
      <a class="collapse-link">
        <i class="fa fa-chevron-up"></i>
      </a>
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-wrench"></i>
      </a>
      <a class="close-link">
        <i class="fa fa-times"></i>
      </a>
    </div>
  </div>
  <div class="ibox-content">
    <%= form_for(@question_paper, html: {class: "form-vertical", id: "question-paper-form"}) do |f| %>
    <%= render partial: 'teacher/question_papers/form_content', locals: {f: f} %>
    <hr/>
    <div class= 'row m-t-lg'>
      <div class='col-md-11'>
        <%= submit_tag "Publish", class: "btn btn-success m-l-md pull-right" %>
        <%= link_to 'Back', question_papers_path, class: 'btn btn-info pull-right' %>
      </div>
    </div>
    <% end %>
  </div>
</div>
<div class='clearfix'>

<% content_for :javascript do %>
  QuestionPaper.init();
<% end %>
