<div id="marksheet" class='wrapper wrapper-content animated fadeInRight'>
  <div class='row'>
    <div class='col-lg-12'>
      <div class='ibox float-e-margins'>
        <div class='ibox-title'>
          <h5>Update Marks Students <small> Please fill the details correctly</small></h5>
        </div>

        <div class='clearfix'></div>

        <div class='ibox-content'>
          <%= nested_form_for @marksheet, url: update_marksheet_administrator_marksheet_path(@marksheet), :html => {class: 'form-horizontal'}, method: :put do |f| %>
            <div class='form-inputs'>
              <div class='form-group'>
                <div class='col-sm-6'>
                  <label class="control-label">Total Marks</label>
                  <%= number_field_tag :total, @exam_marks.first.total, required: true, maxlength: 60, placeholder: 'Total Marks', class: 'form-control' %>
                </div>
                <div class='col-sm-6'>
                  <div>Download marksheets templates for teachers to fill marks data</div>
                  <%= link_to "PDF Template", build_marksheet_administrator_marksheets_path(section_id: @marksheet.section_id, klass_id: @marksheet.klass_id, exam_id: @marksheet.exam_id, subject_id: @marksheet.subject_id, format: :pdf), class: "btn btn-primary btn-sm -control" %>
                  <%= link_to "Excel Template", build_marksheet_administrator_marksheets_path(section_id: @marksheet.section_id, klass_id: @marksheet.klass_id, exam_id: @marksheet.exam_id, subject_id: @marksheet.subject_id, format: :pdf), class: "btn btn-info btn-sm form-" %>
                </div>
              </div>
            </div>
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th width="3%" class="text-center">Avatar</th>
                  <th>Roll Number</th>
                  <th>Student Name</th>
                  <th>
                    Obtained Marks
                  </th>
                  <th>Remarks</th>
                </tr>
              </thead>
              <tbody>
                <%= f.fields_for :exam_marks do |ff| %>
                  <tr>
                    <td class="client-avatar text-center">
                      <%= image_tag ff.object.student.avatar.url(:thumb), alt: "Image" %>
                    </td>
                    <td><%= ff.object.student.roll_number %></td>
                    <td><%= ff.object.student.name %></td>
                    <td>
                    <%= ff.number_field :obtained, required: true, maxlength: 60, step: :any, value: ff.object.obtained.to_f, placeholder: 'Obtained Marks', class: 'form-control' %>
                    </td>
                    <td><%= ff.text_field :comment, placeholder: 'Remarks', class: 'form-control' %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <div class='clearfix'></div>

            <div class='form-group text-center'>
              <div class='row'>
                <div class='col-sm-12'>
                  <%= f.submit 'Update Marks', class: 'btn btn-lg btn-primary' %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
