<div class='row border-bottom pdf_page_heading '>
  <div class='col-lg-12'>
    <h2 class="pdf_heading">
      Student Marksheet <small> Please fill the details correctly</small>
    </h2>
  </div>
</div>
<div class="row">
  <div class="col-lg-4 col-sm-4 col-md-4">
    <div class="">
      <h2>
        Exam <%= @exam.name %>
      </h2>
      <ul class="list-unstyled m-t-md">
        <li>
          <label>Class:</label>
          <%= @klass.name %>
        </li>
        <li>
          <label>Section:</label>
          <%= @section.name %>
        </li>
        <li>
          <label>Subject:</label>
          <%= @subject.name %>
        </li>
         <li>
          <label>Academic Period:</label>
            <%= current_term.display_term_duration %>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-lg-6 col-sm-6 col-md-6">
    <div class=" ">
      <h2>
        Subject Teacher
      </h2>
      <ul class="list-unstyled m-t-md">
        <li>
          <label>Name:</label>
          <%= @teacher.full_name %>
        </li>
         <li>
          <label>Email:</label>
          <%= @teacher.email %>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class='col-sm-12'>
    <div class='form-inputs'>
      <div class='form-group'>
        <label class="control-label">Total Marks:______________________________</label>
      </div>
    </div>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th width="3%" class="text-center">Avatar</th>
          <th>Roll Number</th>
          <th>Student Name</th>
          <th>
            Obtained Marks
          </th>
          <th>Remarks</th>
        </tr>
      </thead>
      <tbody>
        <% @students.each  do |student| %>
          <tr>
            <td class="client-avatar text-center">
              <%= wicked_pdf_image_tag student.avatar.url(:thumb), alt: "Image" %>
            </td>
            <td><%= student.roll_number %></td>
            <td><%= student.name %></td>
            <td></td>
            <td></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
