<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-9">
    <h2>Marksheets</h2>
    <ol class="breadcrumb">
      <li>
        <%= link_to 'Home', administrator_root_path %>
      </li>
      <li class="active">
        <strong>Marksheets</strong>
      </li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content  animated fadeInRight">
  <div class="row">
    <div class="col-sm-8">
      <div class="ibox">
        <div class="ibox-content">
          <h2>Marksheets</h2>
          <p>
            All Marksheets
          </p>
          <div class="clients-list">
            <ul class="nav nav-tabs">
              <span class="pull-right small text-muted"><%= "#{@marksheets.count} Marksheets" %></span>
              <li class="active"><a data-toggle="tab" href="#tab-1"><i class="fa fa-user"></i> Marksheets</a></li>
            </ul>
            <div class="tab-content">
              <div id="tab-1" class="tab-pane active">
                <%= render partial: 'shared/search_box', locals: {path: existing_administrator_marksheets_path} %>
                <div class="full-height-scroll">
                  <div class="table-responsive">
                    <table class="table table-striped table-hover selectable-table table-bordered">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Exam</th>
                          <th>Class</th>
                          <th>Section</th>
                          <th>subject</th>
                          <th>Date</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% @marksheets.each_with_index do |marksheet, index| %>
                          <tr id="row-marksheet-<%= marksheet.id %>" class="selectable-row <% if index == 0 %> table-helighted-row <% end %>">
                            <td>
                              <%= link_to "#marksheet-#{marksheet.id}", "data-toggle" => "tab", marker: "marksheet-#{marksheet.id}", class: "client-link selected-data-row" do %>
                                <%= index.succ %>
                              <% end %>
                            </td>
                            <td>
                              <%= link_to "#marksheet-#{marksheet.id}", "data-toggle" => "tab", marker: "marksheet-#{marksheet.id}", class: "client-link selected-data-row" do %>
                                <%= marksheet.exam.name %>
                              <% end %>
                            </td>
                            <td>
                              <%= marksheet.klass.name %>
                            </td>
                            <td>
                              <%= marksheet.section.name %>
                            </td>
                            <td>
                              <%= marksheet.subject.name %>
                            </td>
                            <td>
                              <%= format_date marksheet.created_at %>
                            </td>
                            <td>
                              <%= link_to edit_administrator_marksheet_path(marksheet), class: "btn btn-outline btn-info dim btn-xs", data: { toggle: 'tooltip', placement: 'top' }, title: 'Edit' do %>
                                <i class="fa fa-pencil-square-o"></i>
                              <% end %>
                              <%= link_to administrator_marksheet_path(marksheet), class: "btn btn-outline btn-danger dim btn-xs", data: { toggle: 'tooltip', placement: 'top', behavior: 'delete', object: marksheet.class.name }, title: 'Delete' do %>
                                <i class="fa fa-trash-o"></i>
                              <% end %>
                            </td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="ibox">
        <div class="ibox-content">
          <div class="tab-content widget-head-color-box bg-info p-lg  color-white">
            <% @marksheets.each_with_index do |marksheet, index| %>
              <div id="marksheet-<%= marksheet.id %>" class="tab-pane <% if index == 0 %> active <% end %>">
                <div class="">
                  <div>
                    <div class="text-center">
                      Total Marks = <%= marksheet.exam_marks.first.total %>
                    </div>
                  </div>

                  <div>
                    <div class="text-center">
                      Passing Marks = <%= marksheet.exam_marks.first.passing_marks %>
                    </div>
                  </div>

                <hr class='hr-line-solid m-b-lg m-t-lg'>
                  <div class="client-detail">
                    <div class="full-height-scroll">
                      <table class="table small m-b-xs m-t-md">
                        <thead>
                          <tr>
                            <th>Roll Number</th>
                            <th>Student</th>
                            <th>Obtained</th>
                          </tr>
                        </thead>

                        <tbody>
                          <% marksheet.exam_marks.each do |exam_mark| %>
                            <tr>
                              <td><%= link_to exam_mark.student.roll_number, administrator_section_student_path(marksheet.section, exam_mark.student), class: 'btn-link' %></td>
                              <td><%= link_to exam_mark.student.name, administrator_section_student_path(marksheet.section, exam_mark.student), class: 'btn-link' %></td>
                              <td><%= exam_mark.obtained %></td>
                            </tr>
                          <% end %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


