<p id="notice"><%= notice %></p>

<h1>Grading Systems</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @grading_systems.each do |grading_system| %>
      <tr>
        <td><%= grading_system.name %></td>
        <td><%= grading_system.description %></td>
        <td><%= link_to 'Show', grading_system %></td>
        <td><%= link_to 'Edit', edit_grading_system_path(grading_system) %></td>
        <td><%= link_to 'Destroy', grading_system, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Grading System', new_grading_system_path %>
