<div class='row wrapper border-bottom white-bg page-heading'>
  <div class='col-lg-9'>
    <h2>
      <%= link_to :back, class: 'btn btn-sm btn-primary btn-outline m-t-n-xs' do %>
        <i class='fa fa-arrow-left'></i>
      <% end %>

      Classes
    </h2>

    <ol class='breadcrumb'>
      <li>
        <%= link_to 'Home', administrator_root_path %>
      </li>

      <li>
        <%= link_to 'List', administrator_klasses_path %>
      </li>

      <li class='active'>
        <strong><%= @klass.name %></strong>
      </li>
    </ol>
  </div>
</div>

<%= render 'form', klass: @klass %>
