<div class='row wrapper border-bottom white-bg page-heading'>
  <div class='col-lg-9'>
    <h2>
      <%= link_to :back, class: 'btn btn-sm btn-white m-t-n-xs' do %>
        <i class='fa fa-arrow-left'></i>
      <% end %>

      Classes
    </h2>

    <ol class='breadcrumb'>
      <li>
        <%= link_to 'Home', administrator_root_path %>
      </li>

      <li>
        <%= link_to 'List', administrator_klasses_path %>
      </li>

      <li class='active'>
        <strong><%= @klass.name %></strong>
      </li>
    </ol>
  </div>
</div>

<div id='class-wrapper'>
  <div class='wrapper wrapper-content animated fadeInRight'>
    <div class='row'>
      <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>
        <div class='tabs-container'>
          <ul class='nav nav-tabs'>
            <li class='active'>
              <%= link_to '#tab-stats', data: { toggle: 'tab' } do %>
                <i class='fa fa-list'></i> Statistics
              <% end %>
            </li>

            <li>
              <%= link_to '#tab-teachers', data: { toggle: 'tab' } do %>
                <i class='fa fa-leanpub'></i> Teachers
                <span class='label label-danger m-l-xs'><%= @teachers.length %></span>
              <% end %>
            </li>

            <li>
              <%= link_to '#tab-students', data: { toggle: 'tab' } do %>
                <i class='fa fa-users'></i> Students
                <span class='label label-info m-l-xs'><%= @students.length %></span>
              <% end %>
            </li>
          </ul>

          <div class='tab-content'>
            <div id='tab-stats' class='tab-pane active'>
              <div class='full-height-scroll panel-body'>
                <%= render 'statistics' %>
              </div>
            </div>

            <div id='tab-teachers' class='tab-pane'>
              <div class='full-height-scroll panel-body'>
                <div class='row'>
                  <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>
                    <div class='tabs-container'>
                      <ul class='nav nav-tabs'>
                        <% @sections.each do |section| %>
                          <li class="<%= 'active' if @sections.first == section %>">
                            <%= link_to section.name&.titleize, "#tab-teacher-section-#{section.id}", data: { toggle: 'tab' } %>
                          </li>
                        <% end %>
                      </ul>

                      <div class='tab-content'>
                        <% @sections.each do |section| %>
                          <div id='tab-teacher-section-<%= section.id %>' class="tab-pane <%= 'active' if @sections.first == section %>">
                            <div class='full-height-scroll panel-body'>
                              <%= render 'teachers', section: section %>
                            </div>
                          </div>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div id='tab-students' class='tab-pane'>
              <div class='full-height-scroll panel-body'>
                <div class='row'>
                  <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>
                    <div class='tabs-container'>
                      <ul class='nav nav-tabs'>
                        <% @sections.each do |section| %>
                          <li class="<%= 'active' if @sections.first == section %>">
                            <%= link_to section.name&.titleize, "#tab-student-section-#{section.id}", data: { toggle: 'tab' } %>
                          </li>
                        <% end %>
                      </ul>

                      <div class='tab-content'>
                        <% @sections.each do |section| %>
                          <div id='tab-student-section-<%= section.id %>' class="tab-pane <%= 'active' if @sections.first == section %>">
                            <div class='full-height-scroll panel-body'>
                              <%= render 'students', section: section %>
                            </div>
                          </div>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
