<div class="wrapper animated wrapper-content">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="file-manaer">
          <ul class="folder-ist no-padding nav nav-tabs">
            <% @formated_results.keys.each_with_index do |(month, record), index| %>
              <li class="<% if index == 0 %> active <% end %>">
                <a data-toggle="tab" href="#tab-<%= index %>"><i class="fa fa-cubes"></i>  <%= month %> </a>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="tab-content full-height-scroll">
        <% @formated_results.each_with_index do |(month, records), index| %>
          <div id="tab-<%= index %>" class="tab-pane <% if index == 0 %> active <% end %>">
            <div class="row">
              <div class="col-lg-5 col-sm-5 col-md-5">
                <%= pie_chart(@month_statistics[month], width: "100%", height: "250px", adapter: "highcharts", library: {
                      title: { text: "Attendance Report"},
                      tooltip: {
                        pointFormat: 'Students: <b>{point.percentage:.1f}%</b>'
                      },
                      plotOptions: {
                        pie: {
                            colors: ['#1ab394', '#ed5565', '#f8ac59'],
                          allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                              enabled: true,
                              format: '{point.percentage:.1f} %',
                              distance: -24,
                              filter: {
                                  property: 'percentage',
                                  operator: '>',
                                  value: 3
                              }
                            },
                            showInLegend: true,
                        }
                      }
                    }
                ) %>
              </div>

              <div class="col-lg-5 col-sm-5 col-md-5">
                <%= pie_chart(@month_late_statistics[month], width: "100%", height: "250px", adapter: "highcharts", library: {
                      title: { text: "Timing Report"},
                      tooltip: {
                        pointFormat: 'Students: <b>{point.percentage:.1f}%</b>'
                      },
                      plotOptions: {
                        pie: {
                            colors: ['#1ab394', '#1c84c6'],
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                              enabled: true,
                              format: '{point.percentage:.1f} %',
                              distance: -24,
                              filter: {
                                  property: 'percentage',
                                  operator: '>',
                                  value: 3
                              }
                            },
                            showInLegend: true,
                        }
                      }
                    }
                ) %>
              </div>
              <div class="col-lg-2 col-sm-2 col-md-2">
                <%= link_to "Download PDF", report_student_attendances_path(@key_to_dates[month].merge(section_id: @section.id, format: :pdf)), class: "btn btn-success btn-block"%>
                 <%= link_to "Download Excel", report_student_attendances_path(@key_to_dates[month].merge(section_id: @section.id, format: :xlsx)), class: "btn btn-info btn-block"%>
              </div>
            </div>
            <div class="table-responsive">
              <table class='table small table-bordered table-hover attendance-table'>
                <thead>
                  <tr class="extra-small">
                    <th colspan="15" class='text-center'>
                      Dates <i class="fa fa-arrow-right"></i>
                    </th>
                    <% (@key_to_dates[month][:start_date].day..@key_to_dates[month][:end_date].day).each do |index| %>
                      <th class='text-center'><%= index %></th>
                    <% end %>
                    <th colspan="1" class='text-center'>Total</th>
                  </tr>
                  <tr class="extra-small">
                    <th colspan="15" class='text-center'>
                      Students <i class="fa fa-arrow-down"></i> | Day <i class="fa fa-arrow-right"></i>
                    </th>
                    <% (@key_to_dates[month][:start_date].to_date..@key_to_dates[month][:end_date].to_date).each do |day| %>
                      <th class='text-center'><%= day.strftime("%a") %></th>
                    <% end %>
                    <th colspan="1" class='text-center'>P</th>
                  </tr>
                </thead>

                <tbody>
                  <% @section.students.each do |student| %>
                    <% attendances = records[student.id].group_by{ |m| m.day.day } %>
                    <tr>
                      <td colspan="15" class='text-center'>
                        <%= student.name %>
                      </td>
                      <% (@key_to_dates[month][:start_date].day..@key_to_dates[month][:end_date].day).each do |index| %>
                        <% attendance = attendances[index].try(:first) %>
                        <% if attendance && attendance.day.day == index %>
                          <td class='text-center <%= attendance.status %> <%= get_late_class(attendance) %>'>
                            <%= display_attendance_status(attendance.status) %>
                          </td>
                        <% else %>
                          <td colspan="1" class='text-center'></td>
                        <% end %>
                      <% end %>
                      <td colspan="1" class='text-center extra-small'><%= records[student.id].select{|a| a.status == 'present'}.count %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
