<div class='row wrapper border-bottom white-bg page-heading'>
  <div class='col-lg-10'>
    <h2>
      <%= link_to :back, class: 'btn btn-sm btn-primary btn-outline m-t-n-xs' do %>
        <i class='fa fa-arrow-left'></i>
      <% end %>

      TimeTable
    </h2>

    <ol class='breadcrumb'>
      <li>
        <%= link_to 'Home', root_path %>
      </li>

      <li>
        <%= link_to 'Sections', sections_path %>
      </li>

      <li>
        <%= @section.title_with_klass %>
      </li>

      <li class='active'>
        <strong>Timetables</strong>
      </li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div id='left-section' class="col-sm-12">
      <div class="ibox">
        <div class="ibox-content">
          <div class="timetables-list">
            <ul class="nav nav-tabs">
              <li class="active">
                <a data-toggle="tab" href="#tab-1"><i class="fa fa-calendar"></i> TimeTable</a>
              </li>

              <li>
                <a data-toggle="tab" href="#tab-2"><i class="fa fa-list"></i> View TimeTable List</a>
              </li>
            </ul>

            <div class="tab-content">
              <div id="tab-1" class="tab-pane active">
                <div class="row">
                  <div class="col-md-12">
                    <div id='timetable-calendar'></div>
                  </div>
                </div>
              </div>

              <div id="tab-2" class="tab-pane">
                <div class="full-height-scroll">
                  <div class="panel panel-default" data-collapsed="0">
                    <div class="panel-body">
                      <table cellpadding="0" cellspacing="0" border="0" class="table table-bordered">
                        <tbody>
                          <% @days_hash.each do |day, name| %>
                            <tr>
                              <td width="100"><%= name %></td>
                              <td>
                              <% if @timetables[day].present? %>
                                <% @timetables[day].each do |timetable| %>
                                    <div class="btn-group m-xs">
                                      <button class="btn btn-default dropdown-toggle timetable-btn" data-toggle="dropdown" style='background-color: <%= timetable.subject_color %>; border-color: <%= timetable.subject_color %>'>
                                        <%= timetable.subject_name %> <%= timetable.timings %> <span class="caret"></span>
                                      </button>
                                      <ul class="dropdown-menu">
                                        <li>
                                          <div class="ibox-content text-center">
                                            <h1><%= timetable.teacher_name %></h1>
                                            <div class="m-b-sm">
                                              <%= image_tag timetable.teacher.avatar.url(:thumb), class: "img-circle", alt: "Image" %>
                                            </div>
                                            <p class='font-bold'><i class="fa fa-envelope"></i> <%= timetable.teacher.email %></p>
                                            <p class='font-bold'>Class Teacher</p>
                                          </div>
                                        </li>
                                      </ul>
                                    </div>
                                <% end %>
                              <% end %>
                              </td>
                            </tr>
                          <% end %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :javascript do %>
  Timetable.init();
<% end %>
