<div class='row wrapper border-bottom white-bg page-heading'>
  <div class='col-lg-9'>
    <h2>
      <%= link_to :back, class: 'btn btn-sm btn-primary btn-outline m-t-n-xs' do %>
        <i class='fa fa-arrow-left'></i>
      <% end %>

      Notice Board
    </h2>

    <ol class='breadcrumb'>
      <li>
        <%= link_to 'Home', administrator_root_path %>
      </li>

      <li class='active'>
        <strong>Notices</strong>
      </li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-sm-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Notification Management</h5>
        </div>
        <div class="ibox-content">
          <div class="notice-list">
            <ul class="nav nav-tabs">
              <li class="active"><a data-toggle="tab" href="#tab-1"><i class="fa fa-volume-up"></i> Notices</a></li>
              <li class=""><a data-toggle="tab" href="#tab-2"><i class="fa fa-plus"></i> Add new notice</a></li>
            </ul>
            <div class="tab-content">
              <div id="tab-1" class="tab-pane active">
                <%= render partial: 'shared/search_box', locals: {path: administrator_notices_path} %>
                <%= render 'shared/notices/notices_table', notices: @notices %>
              </div>

              <div id="tab-2" class="tab-pane">
                <div class="full-height-scroll">
                  <%= render 'form', { notice: @new_notice, edit: false } %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :javascript do %>
  Notice.init();
  enable_autocomplete('/administrator/notices');
<% end %>
