<hr class='b-heading'>

<div class='row'>
  <div class='col-sm-3 col-centered text-center'>
    <h1><%= student.name %></h1>
    <h2><%= image_tag student.avatar.url(:thumb), class: 'img-rounded' %></h2>
    <h3><i><%= student.email %></i></h3>
    <h3><%= student.phone %></h3>
    <table class='table small m-b-xs text-left'>
      <tbody>
        <tr>
          <td><strong>Roll Number</strong></td>
          <td class='text-right'><strong><%= student.roll_number %></strong></td>
        </tr>

        <tr>
          <td><strong>Registration Number</strong></td>
          <td class='text-right'><strong><%= student.registration_number %></strong></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<hr class='b-heading'>
