<div class='row'>
  <div class="col-md-4">
    <div class="profile-image">
      <%= image_tag student.avatar.url(:thumb), class: 'img-circle circle-border' %>
    </div>

    <div class="profile-info m-t-md">
      <div>
        <div>
          <h2 class="no-margins"><%= student.name %></h2>
          <h4><%= student.email %></h4>
          <small><%= student.phone %></small>
        </div>
      </div>
    </div>
  </div>

  <div class='col-sm-4 m-t-md text-center'>
    <table class='table small m-b-xs text-left'>
      <tbody>
        <tr>
          <td><strong>Class</strong></td>
          <td class='text-right'><strong><%= student.current_section(current_term.id).klass_name %></strong></td>
        </tr>

        <tr>
          <td><strong>Section</strong></td>
          <td class='text-right'><strong><%= student.current_section(current_term.id).name %></strong></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class='col-sm-4 m-t-md text-center'>
    <table class='table small m-b-xs text-left'>
      <tbody>
        <tr>
          <td><strong>Roll Number</strong></td>
          <td class='text-right'><strong><%= student.roll_number %></strong></td>
        </tr>

        <tr>
          <td><strong>Registration Number</strong></td>
          <td class='text-right'><strong><%= student.registration_number %></strong></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
