<div class="full-height-scroll">
  <div class="table-responsive">
    <table class="table table-striped table-hover table-bordered">
      <thead>
        <tr>
          <th>Avatar</th>
          <th>Name</th>
          <th>R.N</th>
          <th>Roll number</th>
          <th>Email</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @students.each_with_index do |student, index| %>
          <tr id="row-student-<%= student.id %>" class="selectable-row <% if index == 0 %> table-helighted-row <% end %>">
            <%= render 'shared/student/details_table_row', student: student %>
            <td>
              <% if current_user.administrator? %>
                <%= link_to administrator_section_student_path(@section, student), class: "btn btn-outline btn-success dim btn-xs", data: { toggle: 'tooltip', placement: 'top' }, title: 'View' do %>
                  <i class="fa fa-eye"></i>
                <% end %>

                <%= link_to edit_administrator_section_student_path(@section, student), class: "btn btn-outline btn-info dim btn-xs", data: { toggle: 'tooltip', placement: 'top' }, title: 'Edit' do %>
                  <i class="fa fa-pencil-square-o"></i>
                <% end %>

                <%= link_to administrator_section_student_path(@section, student), class: "btn btn-outline btn-danger dim btn-xs", data: { toggle: 'tooltip', placement: 'top', behavior: 'delete', object: student.class.name }, title: 'Delete' do %>
                  <i class="fa fa-trash-o"></i>
                <% end %>

                <%= link_to single_attendance_administrator_student_attendances_path(student), class: "btn btn-outline btn-warning dim btn-xs", data: { toggle: 'tooltip', placement: 'top' }, title: 'Attendnace' do %>
                  <i class="fa fa-check-square-o"></i>
                <% end %>
              <% end %>

              <%= render 'shared/student/student_results', student: student, text: "", section: @section %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

