<div class="big-font">
  <div class="row m-b-lg m-t-lg">
    <div class="col-md-7">
      <div class="profile-image">
        <%= wicked_pdf_image_tag @student.avatar.url(:thumb), class: "m-b-md", alt:"profile" %>
      </div>
      <div class="profile-info">
        <div class="">
          <div>
            <h2 class="no-margins">
              <%= @student.name %>
            </h2>
            <h4>
              Class: <span class="label label-info"><%= @student.current_section(current_term.id).klass.name %></span>
            </h4>
            <h4>
              Section: <span class="label label-warning"><%= @student.current_section(current_term.id).name %></span>
            </h4>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <table class="table small m-b-xs">
        <tbody>
          <tr>
            <td>
              <strong>Roll Number</strong>
            </td>
            <td>
              <strong><%= @student.roll_number %></strong>
            </td>
          </tr>
          <tr>
            <td>
                <strong>Registration Number</strong>
            </td>
            <td>
                <strong><%= @student.registration_number %></strong>
            </td>
          </tr>
          <tr>
            <td>
              <strong>Total Percentage</strong>
            </td>
            <td>
              <strong><%= @results[:collective][:total][:percentage] %> %</strong>
            </td>
          </tr>
          <tr>
            <td>
              <strong>Grade</strong>
            </td>
            <td>
              <strong><%= @results[:collective][:total][:grade] %></strong>
            </td>
          </tr>
          <tr>
            <td>
              <strong>Total Obtained</strong>
            </td>
            <td>
              <strong><%= @results[:collective][:total][:abs_marks] %> / <%= @results[:collective][:total][:total] %></strong>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class='ibox-content'>
      <div class="full-height-scroll">
        <div class="full-height-scroll">
          <div class='table-responsive'>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h5 class="panel-title">
                  Collective Result
                </h5>
              </div>
              <div class="panel-body">
                <table class='table table-striped table-bordered'>
                  <thead>
                    <tr>
                      <th class="text-center result-even-header">Subject</th>
                      <th class="text-center result-odd-header">Abs. Marks</th>
                      <th class="text-center result-odd-header">Total</th>
                      <th class="text-center result-odd-header">%</th>
                      <th class="text-center result-odd-header">Grade</th>
                      <th class="text-center result-odd-header">Highest</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @results[:collective][:results].each do |result| %>
                      <tr>
                        <td class="text-center result-odd-header"><%= result[:subject] %></td>
                        <td class="text-center result-percent-row"><%= result[:abs_marks] %></td>
                        <td class="text-center result-percent-row"><%= result[:total] %></td>
                        <td class="text-center result-percent-row"><%= result[:percentage] %></td>
                        <td class="text-center"><%= result[:grade] %></td>
                        <td class="text-center gresult-total-row"><%= result[:highest] %></td>
                      </tr>
                    <% end %>
                    <tr>
                      <td class="text-center">Total</td>
                      <td class="text-center gresult-total-row gresult-total"><%= @results[:collective][:total][:abs_marks] %></td>
                      <td class="text-center gresult-total-row gresult-total"><%= @results[:collective][:total][:total] %></td>
                      <td class="text-center gresult-total-row gresult-total"><%= @results[:collective][:total][:percentage] %></td>
                      <td class="text-center"><%= @results[:collective][:total][:grade] %></td>
                      <td class="text-center gresult-total-row gresult-total"><%= @results[:collective][:total][:highest] %></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <% @results[:exam_results].each do |exam_result| %>
          <div class="full-height-scroll">
            <div class='table-responsive'>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h5 class="panel-title">
                    <%= exam_result[:exam_name] %> <small>(<%= exam_result[:exam_percentage] %>%) </small>
                  </h5>
                </div>
                <div class="panel-body">
                  <table class='table table-striped table-bordered'>
                    <thead>
                      <tr>
                        <th class="text-center result-even-header">Subject</th>
                        <th class="text-center result-odd-header">Obtained</th>
                        <th class="text-center result-odd-header">Total</th>
                        <th class="text-center result-odd-header">Weightage</th>
                        <th class="text-center result-odd-header">%</th>
                        <th class="text-center result-odd-header">Grade</th>
                        <th class="text-center result-odd-header">Highest</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% exam_result[:results].each do |result| %>
                        <tr>
                          <td class="text-center result-odd-header"><%= result[:subject] %></td>
                          <td class="text-center"><%= result[:obtained] %></td>
                          <td class="text-center"><%= result[:total] %></td>
                          <td class="text-center result-percent-row"><%= result[:actual_obtained] %></td>
                          <td class="text-center"><%= result[:percentage] %></td>
                          <td class="text-center"><%= result[:grade] %></td>
                          <td class="text-center"><%= result[:highest] %></td>
                        </tr>
                      <% end %>
                      <tr>
                        <td class="text-center result-total-row">Total</td>
                        <td class="text-center result-total-row"><%= exam_result[:total][:obtained] %></td>
                        <td class="text-center result-total-row"><%= exam_result[:total][:total] %></td>
                        <td class="text-center gresult-total-row"><%= exam_result[:total][:actual_obtained] %></td>
                        <td class="text-center result-total-row"><%= exam_result[:total][:percentage] %></td>
                        <td class="text-center"><%= exam_result[:total][:grade] %></td>
                        <td class="text-center result-total-row"><%= exam_result[:total][:highest] %></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
