<div class="col-lg-4">
  <div class="ibox">
    <div class="ibox-title">
      <span class="label label-primary pull-right"><%= result.class.name %></span>
      <h5><%= result.name %> <i class="fa <%= select_gender_icon(result.gender) %>"></i></h5>
    </div>
    <div class="ibox-content text-center">
      <div class='m-b-sm'>
        <%= image_tag(result.avatar.url(:medium), width: 100, height: 100, class: 'img-circle', alt: 'image') %>
      </div>

      <p class='font-bold'><i class="fa fa-envelope"></i> <%= result.email %></p>
      <p class='font-bold'><i class="fa fa-phone"></i> <%= result.phone %></p>
      <% if current_user.administrator? %>
        <div class="m-t-xs text-center">
          <%= link_to show_path(result), class: "btn btn-outline btn-success dim btn-xs", data: { toggle: 'tooltip', placement: 'top' }, title: 'View' do %>
            <i class="fa fa-eye"></i>
          <% end if current_user.administrator? %>
          <%= link_to edit_administrator_guardian_path(result), class: "btn btn-outline btn-info dim btn-xs", data: { toggle: 'tooltip', placement: 'top' }, title: 'Edit' do %>
            <i class="fa fa-pencil-square-o"></i>
          <% end if current_user.administrator? %>
        </div>
      <% end %>
    </div>
  </div>
</div>
