<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Class Form <small> Please fill the details correctly</small></h5>
        </div>
        <div class="ibox-content">
          <%= nested_form_for([:administrator, grading_system], validate: true, html: {class: "form-horizontal"}) do |f| %>
            <div class="form-inputs">
              <div class="form-group">
                <label class="col-sm-2 control-label">Name</label>
                <div class="col-sm-8">
                  <%= f.text_field :name, class: "form-control" %>
                </div>
              </div>
            </div>

            <div class="form-inputs">
              <div class="form-group">
                <label class="col-sm-2 control-label">Description</label>
                <div class="col-sm-8">
                  <%= f.text_area :description, class: "form-control" %>
                </div>
              </div>
            </div>

            <%= f.fields_for :grades do |ff| %>
              <div class="row timetable_fields align-center">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-2">
                  <%= ff.text_field :name, class: "form-control", placeholder: "Grade Name" %>
                </div>
                <div class="col-sm-2">
                  <%= ff.number_field :start_point, class: "form-control", placeholder: "Start Point (%)" %>
                </div>
                <div class="col-sm-2">
                  <%= ff.number_field :end_point, class: "form-control", placeholder: "End Point (%)" %>
                </div>
                <div class="col-sm-2">
                  <%= ff.number_field :points, class: "form-control", placeholder: "Grade Points" %>
                </div>
                <div class="col-sm-2">
                  <%= ff.link_to_remove do %>
                    <i class="btn btn-danger btn-lg fa fa-trash pull-left"></i>
                  <% end %>
                </div>
              </div>
            <% end %>

            <div class='row text-center'>
              <div class='col-sm-12'>
                <%= f.link_to_add :grades, class: 'btn btn-info m-t-md' do %>
                  <i class='fa fa-plus'></i> Add new grade
                <% end %>
              </div>
            </div>

            <div class="form-group m-t-md">
              <div class='row text-center'>
                <div class="col-sm-12">
                  <%= f.submit class: "btn btn-lg btn-primary" do %>
                    <i class="fa fa-check">&nbsp;Submit</i>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
