<tr id="row-grading_system-<%= grading_system.id %>" class="selectable-row" data-role="grading_system<%= grading_system.id %>" data-move-url="<%= move_administrator_grading_system_url(grading_system) %>" data-position="<%= grading_system.position %>">
  <td>
    <a>
      <i class="fa fa-arrows"></i>
    </a>
  </td>
  <td>
    <%= grading_system.name %>
  </td>
  <td>
    <%= truncate(grading_system.description, length: 50) %>
  </td>
  <td>
    <%= link_to administrator_grading_system_path(grading_system), class: "btn btn-success btn-outline dim btn-xs", data: { toggle: 'tooltip', placement: 'top' }, title: 'View' do %>
      <i class="fa fa-eye"></i>
    <% end %>
    <%= link_to edit_administrator_grading_system_path(grading_system), class: "btn btn-info btn-outline dim btn-xs", data: { toggle: 'tooltip', placement: 'top' }, title: 'Edit' do %>
      <i class="fa fa-pencil-square-o"></i>
    <% end %>
    <%= link_to administrator_grading_system_path(grading_system), class: "btn btn-danger btn-outline dim btn-xs", data: { toggle: 'tooltip', placement: 'top', behavior: 'delete', object: grading_system.class.name }, title: 'Delete' do %>
      <i class="fa fa-trash-o"></i>
    <% end %>
  </td>
</tr>
