<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-9">
    <h2>
      <%= link_to :back, class: 'btn btn-sm btn-primary btn-outline m-t-n-xs' do %>
        <i class='fa fa-arrow-left'></i>
      <% end %>
      Exam Schedule
    </h2>
    <ol class="breadcrumb">
      <li>
        <%= link_to 'Home', administrator_root_path %>
      </li>
      <li>
        <%= link_to 'Exam List', administrator_exams_path %>
      </li>
      <li>
        <%= link_to 'Exam Schedule', administrator_exam_exam_timetables_path(@exam) %>
      </li>
      <li class="active">
        <strong>Update Exam Schedule</strong>
      </li>
    </ol>
  </div>
</div>

<%= render 'bulk_form' %>

<% content_for :javascript do %>
  js_bind_timepicker();
  ClientSideValidations.formBuilders['NestedForm::Builder'] = ClientSideValidations.formBuilders['ActionView::Helpers::FormBuilder'];
<% end %>
