<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-9">
    <h2>Exams</h2>
    <ol class="breadcrumb">
      <li>
        <%= link_to 'Home', administrator_root_path %>
      </li>
      <li>
        <%= link_to 'Exam List', administrator_exams_path %>
      </li>
      <li>
        <%= link_to 'Exam Schedule', administrator_exam_exam_timetables_path(@exam) %>
      </li>
      <li class="active">
        <strong>Update Exam Schedule</strong>
      </li>
    </ol>
  </div>
</div>

<div class=" animated fadeInRight">
  <div class="row">
    <div class="col-sm-12">
      <div class="ibox">
        <div class="ibox-content">
          <%= form_tag bulk_administrator_exam_exam_timetables_path(@exam), method: :get do %>
            <div class="row selectable_parent">
              <div class="col-md-3">
                <div class="form-group">
                  <label style="margin-bottom: 5px;">Class</label>
                  <div class="input-group">
                    <%= select_tag :klass_id, options_for_select(@klasses.collect {|e| [ e.name, e.id ] }, params[:klass_id]), prompt: "Select Class", class: "select2_dropdown selectable_exam_klass", required: true %>
                  </div>
                </div>
              </div>

              <div id="subject_holder">
                <div class="col-md-3">
                  <div class="form-group">
                    <label style="margin-bottom: 5px;">Section</label>
                    <div class="input-group">
                      <%= select_tag :section_id, options_for_select([]), prompt: "Select Section", class: "select2_dropdown selectable_exam_section", disabled:false, required: true %>
                    </div>
                  </div>
                </div>

                <div class="col-md-2" style="margin-top: 20px;">
                  <center>
                    <button type="submit" class="btn btn-primary">View Timetable</button>
                  </center>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'bulk_form' %>

<% content_for :javascript do %>
  ExamTimetable.init();
  js_bind_timepicker();
  ClientSideValidations.formBuilders['NestedForm::Builder'] = ClientSideValidations.formBuilders['ActionView::Helpers::FormBuilder'];
<% end %>
