<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-9">
    <h2>
      <%= link_to :back, class: 'btn btn-sm btn-white m-t-n-xs' do %>
        <i class='fa fa-arrow-left'></i>
      <% end %>
      Exam Schedule
    </h2>
    <ol class="breadcrumb">
      <li>
        <%= link_to 'Home', administrator_root_path %>
      </li>
      <li>
        <%= link_to 'Exam List', administrator_exams_path %>
      </li>
      <li class="active">
        <strong>Exam Schedule</strong>
      </li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content  animated fadeInRight">
  <div class="row">
    <div id='left-section' class="col-sm-12">
      <div class="ibox">
        <div class="ibox-content">
          <h2>Exam Schedule For <strong><%= @exam.name %></strong></h2>
          <div>
            <ul class="nav nav-tabs">
              <span class="pull-right small text-muted"><%= "#{@exam_timetables.count} Exams" %></span>
              <li class="active"><a data-toggle="tab" href="#tab-1"><i class="fa fa-list"></i> Exam Schedule</a></li>
              <li class=""><a data-toggle="tab" href="#tab-2"><i class="fa fa-briefcase"></i> Add Schedule</a></li>
              <li class=""><a data-toggle="tab" href="#tab-3"><i class="fa fa-briefcase"></i> Bulk Schedules</a></li>
            </ul>
            <div class="tab-content">
              <div id="tab-1" class="tab-pane active">
                <div class=" animated fadeInRight">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="ibox">
                        <div class="ibox-content">
                          <%= form_tag filter_administrator_exam_exam_timetables_path(@exam), method: :get, remote: true do %>
                            <div class="row">
                              <div class="col-md-3">
                                <div class="form-group">
                                  <label style="margin-bottom: 5px;">Class</label>
                                  <div class="input-group">
                                    <%= select_tag :klass_id, options_for_select(@klasses.collect {|e| [ e.name, e.id ] }), prompt: "Select Class", class: "select2_dropdown selectable_klass", required: true %>
                                  </div>
                                </div>
                              </div>

                              <div id="subject_holder">
                                <div class="col-md-3">
                                  <div class="form-group">
                                    <label style="margin-bottom: 5px;">Section</label>
                                    <div class="input-group">
                                      <%= select_tag :section_id, options_for_select([]), prompt: "Select Section", class: "select2_dropdown selectable_section", disabled:false, required: true %>
                                    </div>
                                  </div>
                                </div>

                                <div class="col-md-2" style="margin-top: 20px;">
                                  <center>
                                    <button type="submit" class="btn btn-primary">View Timetable</button>
                                  </center>
                                </div>
                              </div>
                            </div>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="exam_timetables"></div>
              </div>

              <div id="tab-2" class="tab-pane">
                <div class="full-height-scroll">
                  <%= render 'new_exam_timetable', exam_timetable: @new_exam_timetable %>
                </div>
              </div>
              <div id="tab-3" class="tab-pane">
                <div class="full-height-scroll">
                  <%= render 'bulk_timetables' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :javascript do %>
  ExamTimetable.init();
<% end %>


