<p id="notice"><%= notice %></p>

<p>
  <strong>Start time:</strong>
  <%= @administrator_exam_timetable.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @administrator_exam_timetable.end_time %>
</p>

<%= link_to 'Edit', edit_administrator_exam_timetable_path(@administrator_exam_timetable) %> |
<%= link_to 'Back', administrator_exam_timetables_path %>
