<%= form_for :note, url: pin_board_path, remote: true, html: { class: 'form-inline', id: 'create-note-form' } do |f| %>
  <div class='input-group'>
    <div class='row'>
      <div class='col-md-12'>
        <%= f.text_field :heading, required: true, maxlength: 100, placeholder: 'Heading', class: 'input input-sm form-control' %>

        <%= f.text_field :description, placeholder: 'Description', class: 'input input-sm form-control' %>

        <%= f.color_field :color, value: '#ffffcc', class: 'input input-sm form-control color-field', list: 'colors' %>

        <datalist id='colors'>
          <% Note::SAMPLE_COLORS.each do |color| %>
            <option><%= color %></option>
          <% end %>
        </datalist>

        <span class='input-group-btn'>
          <%= button_tag class: 'btn btn-sm btn-white' do %>
            <i class='fa fa-plus'></i> Add Note
          <% end %>
        </span>
      </div>
    </div>
  </div>
<% end %>
