<li class='note-<%= note.id %>'>
  <div style='background-color: <%= note.color %>'>
    <small><%= note.created_at.strftime('%I:%M %p - %d-%m-%y') %></small>
    <h4><%= note.heading %></h4>
    <p><%= note.description %></p>

    <%= link_to delete_note_administrator_pin_board_path(note_id: note.id), data: { behavior: 'ajax-delete', object: 'Note' } do %>
      <i class="fa fa-trash-o "></i>
    <% end %>
  </div>
</li>
