<div class="ibox float-e-margins">
  <div class="ibox-title">
    <h5>Guarian form <small> Please fill the details correctly</small></h5>
  </div>
  <div class="ibox-content">
    <%= form_for([:administrator, guardian], validate: true, html: {class: "form-horizontal"}) do |f| %>

      <div class='form-inputs'>
        <div class='form-group'>
          <div class='col-sm-4'>
            <%= f.text_field :first_name, placeholder: 'First Name', class: 'form-control' %>
          </div>

          <div class='col-sm-4'>
            <%= f.text_field :last_name, label: false, placeholder: 'Last Name', class: 'form-control' %>
          </div>

          <div class='col-sm-4'>
            <%= f.email_field :email, placeholder: 'Email', validate: false, class: 'form-control validate-field', data: { model: 'Guardian', field: 'email' } %>
          </div>
        </div>
      </div>

      <div class='form-inputs'>
        <div class='form-group'>
          <div class='col-sm-4'>
            <%= f.text_field :cnic, placeholder: 'CNIC', class: 'form-control' %>
          </div>

          <div class='col-sm-4'>
            <label class='btn-bs-file btn btn-md btn-info'>
              Upload Image
              <%= f.file_field :avatar, class: 'form-control' %>
            </label>
          </div>

          <div class='col-sm-4'>
            <%= f.text_field :phone, placeholder: 'Phone', class: 'form-control' %>
          </div>
        </div>
      </div>

      <div class='form-inputs'>
        <div class='form-group'>
          <div class='col-sm-4'></div>

          <div class='col-sm-4'>
            <div id='uploaded-image'></div>
            <%= image_tag(f.object.avatar.url(:medium), class: 'img-thumbnail', id: 'previous-image') if f.object.avatar.present? %>
          </div>

          <div class='col-sm-4'></div>
        </div>
      </div>

      <div class='form-group m-t-lg'>
        <div class='col-sm-4 col-sm-offset-4'>
          <%= f.submit class: 'btn btn-lg btn-block btn-primary pull-right' do %>
            <i class='fa fa-check'> Submit
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
