<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <div class="dropdown profile-element">
          <span>
            <img alt="image" class="img-circle" src="<%= image_url 'profile_small.jpg' %>"/>
          </span>
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <span class="clear">
              <span class="block m-t-xs">
              <strong class="font-bold"><%= current_user.name %></strong>
              </span> <span class="text-muted text-xs block">Art Director <b class="caret"></b></span>
            </span>
          </a>
          <ul class="dropdown-menu animated fadeInRight m-t-xs">
            <li><a href="">Profile</a>
            </li>
            <li><a href="">Contacts</a>
            </li>
            <li><a href="">Mailbox</a>
            </li>
            <li class="divider"></li>
            <li><a href="">Logout</a>
            </li>
          </ul>
        </div>
        <div class="logo-element">
          IN+
        </div>
      </li>
      <li class="<%= is_active_controller('administrator/home') %>">
        <%= link_to root_path do %>
          <i class="fa fa-th-large"></i> <span class="nav-label">Dashboard</span>
        <% end %>
      </li>
       <li class="<%= is_active_controller('administrator/terms') %>">
        <%= link_to administrator_terms_path do %>
          <i class="fa fa-graduation-cap"></i> <span class="nav-label">Terms</span>
        <% end %>
      </li>
      <li class="<%= is_active_controller('administrator/teachers') %>">
        <%= link_to administrator_teachers_path do %>
          <i class="fa fa-users"></i> <span class="nav-label">Teachers</span>
        <% end %>
      </li>
      <li class="<%= is_active_controller('administrator/klasses') %>">
        <%= link_to administrator_klasses_path do %>
          <i class="fa fa-cubes"></i> <span class="nav-label">Classes</span>
        <% end %>
      </li>
      <li class="<%= is_active_controller('administrator/subjects') %>">
        <%= link_to administrator_subjects_path do %>
          <i class="fa fa-book"></i> <span class="nav-label">Subjects</span>
        <% end %>
      </li>
      <li class="<%= is_active_controller('administrator/guardians') %>">
        <%= link_to administrator_guardians_path do %>
          <i class="fa fa-user"></i> <span class="nav-label">Guardians</span>
        <% end %>
      </li>
      <li class="<%= is_active_controller('administrator/sections') %>">
        <%= link_to administrator_sections_path do %>
          <i class="fa fa-table"></i> <span class="nav-label">Manage Sections</span>
        <% end %>
      </li>
      <li class="<%= is_active_controller('administrator/pin_board') %>">
        <%= link_to landing_administrator_pin_board_path do %>
          <i class="fa fa-sticky-note"></i> <span class="nav-label">Pin Board</span>
        <% end %>
      </li>
      <li class="<%= is_active_controller('administrator/exams') %>">
        <a href=""><i class="fa fa-th-large"></i> <span class="nav-label">Exams</span> <span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse <%= is_active_controller('administrator/exams') %>">
          <li class="<%= is_active_controller('administrator/exams') %>">
            <%= link_to "Exam List", administrator_exams_path %>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
