<nav class='navbar-default navbar-static-side' role='navigation'>
  <div class='sidebar-collapse'>
    <ul class='nav metismenu' id='side-menu'>
      <li class='nav-header'>
        <div class='dropdown profile-element'>
          <a data-toggle='dropdown' class='dropdown-toggle no-bg' href='#'>
            <%= image_tag current_user.avatar.url(:thumb), width: 70, height: 70, class: 'img-circle' %>

            <span class='clear'>
              <span class='block m-t-xs'>
                <strong class='font-bold'><%= current_user.name %></strong>
              </span>

              <span class='text-muted text-xs block'>
                <%= current_user.class.name.capitalize %> <b class='caret'></b>
              </span>
            </span>
          </a>

          <ul class='dropdown-menu animated fadeInRight m-t-xs'>
            <li><%= link_to 'Account', account_path %></li>
            <li><%= link_to 'Notice Board', administrator_notices_path %></li>

            <li class='divider'></li>

            <li><%= link_to 'Logout', get_logout_path(current_user), method: :delete %></li>
          </ul>
        </div>

        <div class='logo-element'>RC+</div>
      </li>

      <li class='<%= is_active_controller_action('administrator/home', 'index') %>'>
        <%= link_to root_path do %>
          <i class='fa fa-th-large'></i> <span class='nav-label'>Dashboard</span>
        <% end %>
      </li>

      <li class='<%= is_active_controller('administrator/terms') %>'>
        <%= link_to administrator_terms_path do %>
          <i class='fa fa-graduation-cap'></i> <span class='nav-label'>Academic Periods</span>
        <% end %>
      </li>

      <li class='<%= is_active_controller('conversations') %>'>
        <%= link_to conversations_path do %>
          <i class='fa fa-wechat'></i> <span class='nav-label'>Conversations</span>
        <% end %>
      </li>

      <li class='<%= is_active_controller('administrators') %>'>
        <%= link_to administrators_path do %>
          <i class='fa fa-user-secret'></i> <span class='nav-label'>Administrators</span>
        <% end %>
      </li>

      <li class='<%= is_active_controller('administrator/students') %> <%= is_active_controller('administrator/admissions') %> <%= is_active_controller('administrator/student_promotions') %>'>

        <%= link_to '#' do %>
          <i class='fa fa-users'></i>
          <span class='nav-label'>Students</span>
          <span class='fa arrow'></span>
        <% end %>

        <ul class='nav nav-second-level collapse <%= is_active_controller('administrator/exams') %>'>
          <li class='<%= is_active_controller_action('administrator/students', 'lookup') %>'>
            <%= link_to lookup_administrator_students_path do %>
              <i class='fa fa-search' aria-hidden='true'></i> Lookup
            <% end %>
          </li>
          <li class='<%= is_active_controller_action('administrator/students', 'new') %> <%= is_active_controller_action('administrator/admissions', 'index') unless params[:bulk].present? %>'>
            <%= link_to administrator_admissions_path do %>
              <i class='fa fa-user-plus' aria-hidden='true'></i> Admit Student
            <% end %>
          </li>

          <li class='<%= is_active_controller_action('administrator/students', 'bulk_view') %> <%= is_active_controller_action('administrator/admissions', 'index') if params[:bulk].present? %>'>
            <%= link_to administrator_admissions_path(bulk: true) do %>
              <i class='fa fa-paw' aria-hidden='true'></i> Admit Bulk Students
            <% end %>
          </li>

          <li class='<%= is_active_controller('administrator/student_promotions') %>'>
            <%= link_to administrator_student_promotions_path do %>
              <i class='fa fa-trophy'></i><span class='nav-label'>Student Promotion</span>
            <% end %>
          </li>
        </ul>
      </li>

      <li class='<%= is_active_controller('administrator/teachers') %>'>
        <%= link_to administrator_teachers_path do %>
          <i class='fa fa-leanpub'></i> <span class='nav-label'>Teachers</span>
        <% end %>
      </li>

      <li class='<%= is_active_controller('administrator/guardians') %>'>
        <%= link_to administrator_guardians_path do %>
          <i class='fa fa-user'></i> <span class='nav-label'>Guardians</span>
        <% end %>
      </li>

      <li class='<%= is_active_controller('administrator/subjects') %>'>
        <%= link_to administrator_subjects_path do %>
          <i class='fa fa-book'></i> <span class='nav-label'>Subjects</span>
        <% end %>
      </li>

      <li class='<%= is_active_controller('administrator/klasses') %>'>
        <%= link_to administrator_klasses_path do %>
          <i class='fa fa-cubes'></i> <span class='nav-label'>Manage Classes</span>
        <% end %>
      </li>

      <li class='<%= is_active_controller('administrator/sections') %>'>
        <%= link_to administrator_sections_path do %>
          <i class='fa fa-table'></i> <span class='nav-label'>Manage Sections</span>
        <% end %>
      </li>

      <li class='nav-first-level <%= is_active_controller('administrator/attendance_sheets') %>'>
        <%= link_to '/' do %>
          <i class='fa fa-industry'></i> <span class='nav-label'>Attendance</span>
          <span class='fa arrow'></span>
        <% end %>

        <ul class='nav nav-second-level collapse'>
          <li class='<%= is_active_controller_action('administrator/attendance_sheets', 'teachers') %> <%= is_active_controller_action('administrator/attendance_sheets', 'managing_teachers') %>'>
            <%= link_to teachers_administrator_attendance_sheets_path do %>
              <i class='fa fa-leanpub' aria-hidden='true'></i> Teachers
            <% end %>
          </li>

          <li class='<%= is_active_controller_action('administrator/student_attendances', 'index')%>'>
            <%= link_to administrator_student_attendances_path do %>
              <i class='fa fa-users' aria-hidden='true'></i> Student
            <% end %>
          </li>
        </ul>
      </li>

      <li class='<%= is_active_controller('administrator/exams') %> <%= is_active_controller('administrator/marksheets') %> <%= is_active_controller('administrator/grading_systems') %>'>
        <a href=''><i class='fa fa-hourglass-start'></i> <span class='nav-label'>Exams</span> <span class='fa arrow'></span></a>

        <ul class='nav nav-second-level collapse <%= is_active_controller('administrator/exams') %>'>
          <li class='<%= is_active_controller('administrator/exams') %>'>
            <%= link_to administrator_exams_path do %>
              <i class='fa fa-list-alt' aria-hidden='true'></i> Exam List
            <% end %>
          </li>

          <li class='<%= is_active_controller_action('administrator/marksheets', 'index') %>'>
            <%= link_to administrator_marksheets_path do %>
              <i class='fa fa-calculator' aria-hidden='true'></i> Manage Marks
            <% end %>
          </li>

          <li class='<%= is_active_controller_action('administrator/marksheets', 'tabulation_sheet') %>'>
            <%= link_to tabulation_sheet_administrator_marksheets_path do %>
              <i class='fa fa-th' aria-hidden='true'></i> Tabulation Sheet
            <% end %>
          </li>
          <li class='<%= is_active_controller('administrator/grading_systems') %>'>
            <%= link_to administrator_grading_systems_path do %>
              <i class='fa fa-balance-scale' aria-hidden='true'></i> Grade Management
            <% end %>
          </li>
        </ul>
      </li>

      <li class="<%= is_active_controller('administrator/notices') %>">
        <%= link_to administrator_notices_path do %>
          <i class='fa fa-bell-o'></i> <span class='nav-label'>Notice Board</span>
        <% end %>
      </li>

      <li class="<%= is_active_controller('pin_board') %>">
        <%= link_to pin_board_path do %>
          <i class='fa fa-clipboard'></i> <span class='nav-label'>Pin Board</span>
        <% end %>
      </li>

      <li class='<%= is_active_controller_action('testimonials', 'index') %>'>
        <%= link_to testimonials_path do %>
          <i class='fa fa-comments-o'></i> <span class='nav-label'>Testimonials</span>
        <% end %>
      </li>

      <li class='<%= is_active_controller_action('administrator/home', 'configuration') %>'>
        <%= link_to configuration_path do %>
          <i class='fa fa-gears'></i> <span class='nav-label'>Configuration</span>
        <% end %>
      </li>
      <li>
        <%= link_to '#', data: { toggle: 'modal', target: '#feedback-modal' }, id: 'feedback-model-trigger' do %>
          <i class="fa fa-comments-o"></i> <span class="nav-label">Feedback</span>
        <% end %>
      </li>
    </ul>
  </div>
</nav>

<%= render 'remarks/form' %>

