<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <div class="dropdown profile-element">
          <span>
            <%= image_tag 'profile_small.jpg', class: 'img-circle' %>
          </span>
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <span class="clear">
              <span class="block m-t-xs">
              <strong class="font-bold"><%= current_user.name %></strong>
              </span> <span class="text-muted text-xs block">Art Director <b class="caret"></b></span>
            </span>
          </a>
          <ul class="dropdown-menu animated fadeInRight m-t-xs">
            <li><a href="">Profile</a>
            </li>
            <li><a href="">Contacts</a>
            </li>
            <li><a href="">Mailbox</a>
            </li>
            <li class="divider"></li>
            <li><a href="">Logout</a>
            </li>
          </ul>
        </div>
        <div class="logo-element">
          RC+
        </div>
      </li>

      <li class="<%= is_active_controller_action('student/home', 'index') %>">
        <%= link_to root_path do %>
          <i class="fa fa-th-large"></i> <span class="nav-label">Dashboard</span>
        <% end %>
      </li>

      <li class="<%= is_active_controller_action('student/home', 'attendance_report') %>">
        <%= link_to attendance_report_path do %>
          <i class="fa fa-calendar"></i> <span class="nav-label">Attendance Report</span>
        <% end %>
      </li>
    </ul>
  </div>
</nav>
