<div class='row border-bottom'>
  <nav class='navbar navbar-static-top' role='navigation' style='margin-bottom: 0'>
    <div class='navbar-header'>
      <a class='navbar-minimalize minimalize-styl-2 btn btn-primary ' href='#'><i class='fa fa-bars'></i> </a>
      <% if current_user.administrator? || current_user.teacher? %>
        <%= form_tag global_search_path, class: 'navbar-form-custom', role: 'search', method: :get do %>
          <div class='form-group'>
            <%= text_field_tag 'global_search', params[:global_search], minlength: 3, placeholder: 'Search for something', class: 'form-control' %>
          </div>
        <% end %>
      <% end %>
    </div>

    <ul class='nav navbar-top-links navbar-right'>
      <% if current_user.type_of == 'Guardian' && current_user.children.count > 1 %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <%= selected_student.name %>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <% current_user.children.each do |child| %>
              <% next if child.id == selected_student.id %>
              <div class="ibox-content text-center select-children" data-child-id=<%= child.id %> data-child-name=<%= child.name %>>
                <h4><%= child.name %></h4>
                <div class="m-b-sm">
                  <%= image_tag child.avatar.url(:thumb), class: 'img-circle img-thumbnail' %>
                </div>
              </div>
            <% end %>
          </ul>
        </li>
      <% end %>
      <% if current_term.present? && !current_admin_supervisor %>

        <li>
          <span class="<%= term_text_class(current_term) %>"><strong><%= current_term.name.capitalize %></strong> - <%= current_term.display_term_duration %> </span>
        </li>
        <% if active_term.present? && current_term != active_term %>
          <%= link_to('#', class: "btn-sm btn-primary btn-rounded m-r-xs m-l-xs", id: 'term-switch', data: { active_term: active_term.id, base_path: term_switch_base_path, toggle: 'tooltip', placement: 'bottom' }, title: 'Switch to Active Term'){ icon_of('fa fa-exchange') } %>
        <% end %>
      <% end %>

      <li class='dropdown'>
        <%= link_to conversations_path, class: 'dropdown-toggle count-info' do %>
          <i class='fa fa-envelope'></i>
          <span class='label label-danger'><%= Conversation.user_conversation(current_user.id).unread.count %></span>
        <% end %>
      </li>
      <% unless current_user.supervisor? %>
        <li class='dropdown'>
          <a class='dropdown-toggle count-info' data-toggle='dropdown' href='#'>
            <i class='fa fa-bell'></i>  <span class='label label-primary'><%= @new_notices_count %></span>
          </a>

          <ul class='dropdown-menu dropdown-alerts'>
            <% @latest_notices.each do |notice| %>
              <li>
                <%= link_to notice_path(notice) do %>
                  <div>
                    <i class='fa fa-bell-o fa-fw'></i><%= notice.title.truncate(25) %>
                    <span class='pull-right text-muted small'><%= time_ago_in_words(notice.created_at) %></span>
                  </div>
                <% end %>
              </li>
              <li class='divider'></li>
            <% end %>
            <li>
              <div class='text-center link-block'>
                <%= link_to notice_index_link(current_user) do %>
                  <strong>See All Notifications</strong>
                  <i class='fa fa-angle-right'></i>
                <% end %>
              </div>
            </li>
          </ul>
        </li>
      <% end %>

      <% if user_signed_in? %>
        <li>
          <%= link_to(get_logout_path(current_user), :method => :delete) do %>
            <i class='fa fa-sign-out'></i> Logout
          <% end %>
        </li>

        <li>
          <%= link_to lock_account_path do %>
            <i class='fa fa-lock'></i> Lock
          <% end %>
        </li>
      <% end %>
    </ul>
  </nav>
</div>
