<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Revocation</title>

    <%= meta_tags title: "Revocation - Home",
      description: 'Revolutionary Educational System with many advanced features',
      twitter: {
        site: 'revocation.pk',
        title: "Revocation - Home",
        description: 'Revolutionary Educational System with many advanced features',
        image: image_url('revo-logo.png'),
      },
      og: {
        title: "Revocation - Home",
        type: 'website',
        url: 'revocation.pk',
        description: 'Revolutionary Educational System with many advanced features',
        image: image_url('revo-logo.png'),
      }
    %>

    <%= Gon::Base.render_data %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'revo.svg' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
    <%= javascript_include_tag 'rails.validations' %>
    <%= javascript_include_tag 'rails.validations.customValidators' %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>

  </head>

  <body>
    <%= render 'layouts/skinconfig' %>
    <div id="wrapper" class="<%= params[:controller] %>.<%= params[:action] %>">
      <%= render "layouts/#{current_user.category}_navigation" if current_user.present? %>

      <div id="page-wrapper" class="gray-bg <%= @extra_class %>">
        <%= render 'layouts/topnavbar' %>
        <%= render 'flash_messages' %>
        <%= yield %>
        <%= render 'layouts/footer' %>
      </div>

      <%= render "layouts/rightsidebar" %>
    </div>

    <script type="text/javascript">
      $(function() {
        <%= yield :javascript %>
        <% if current_user.type_of == 'Guardian' %>
          ChildSelect.init()
        <% end %>
      });
    </script>
  </body>
</html>
