<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Account <%= content_tag :span, current_user.email, class: 'label label-primary' %></h2>
    <ol class="breadcrumb">
      <li>
        <%= link_to 'Home', root_path %>
      </li>

      <li class="active">
        <strong>Update</strong>
      </li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-8">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Account Update</h5>
          <div class="ibox-tools">
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
          </div>
        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-lg-6">
              <div class="widget-head-color-box gray-bg p-lg text-center no-margins">
                <div class="m-b-md">
                  <h2 class="font-bold no-margins">
                    <%= current_user.name %>
                  </h2>
                </div>
                <%= image_tag current_user.avatar.url(:medium), width: 250, height: 250, class: 'img-circle circle-border m-b-md', alt: 'Profile Image' %>
                <% if current_user.student? %>
                  <div>
                    <span><%= current_user.current_section(current_term.id).klass_name %></span> |
                    <span><%= current_user.current_section(current_term.id).name %></span>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="col-lg-6">
              <%= form_for(current_user, as: current_user, url: account_path(), html: { method: :put, class: 'form-horizontal"' }) do |f| %>
                <div class='form-group'>
                  <label class='btn-bs-file btn btn-md btn-info'>
                    <i class='fa fa-plus'></i> Select New Image
                    <%= f.file_field :avatar, class: 'form-control' %>
                  </label>
                </div>

                <div class='form-group'>
                  <div id='uploaded-image'></div>
                </div>

                <div class='actions text-center'>
                  <%= button_tag class: 'btn btn-primary m-b' do %>
                    <i class='fa fa-arrow-up'></i> Upload
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Security <small>chnage your password</small></h5>
          <div class="ibox-tools">
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
          </div>
        </div>
        <div class="ibox-content">
          <h3 class="m-t-none m-b">Change Password</h3>
          <%= form_for(current_user, as: current_user.class, url: update_password_account_path(), html: { method: :put, class: 'form-horizontal"' }) do |f| %>
            <div class='form-group'>
              <%= f.password_field :current_password, autofocus: true, placeholder: 'Current Password', class: 'form-control' %>
              <i>(we need your current password to confirm your changes)</i>
            </div>
            <div class='form-group'>
              <%= f.password_field :password, autofocus: true, placeholder: 'New Password', class: 'form-control' %>
            </div>

            <div class='form-group'>
              <%= f.password_field :password_confirmation, placeholder: 'Confirm new Password', class: 'form-control' %>
            </div>

            <div class='actions'>
              <%= f.submit 'Change my password', class: 'btn btn-lg btn-primary block full-width m-b' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
